<%= form_tag(admin_sort_pending_path, method: :post) do%>
<!--breadcrumbs-->
<!--breadcrumbs-->
<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="/adminviews">Pending</a></li>
  <li ><a href="/admin_leaves">Leave</a></li>
  <li><a href="/admin_undertimes">Undertime</a></li>
  <li><a href="/admin_overtimes">Overtime</a></li>
  <li><a href="/admin_offsets">Offset</a></li>
  <li><a href="/admin_official_businesses">Official Business</a></li>
  <li><a href="/admin_equipment_requests">Equipment</a></li>
</ul>

<hr>
    <% if @results.first.nil? %>
        <h4>You have no pending approvals!</h4>
    <% else %>
<div class="row" style="margin-bottom: 10px">
  <div class="col-sm-6"><h3>Pending Approvals</h3>
    <h5>You have <span class="badge"><%= @results.size %></span> pending approvals</h5></div>
</div>

<div class="row">
  <div class="col-sm-6" style="margin-bottom: 20px">
    <%= submit_tag "Approve", :class => "btn btn-success" %>
    <%= submit_tag "Deny", :class => "btn btn-danger" %>
    <input type="checkbox" value="" id="checkall"> Check All
  </div>
</div>

<div class="row">
  <div class="col-sm-12">


    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="5%"  style="text-align: center"></th>
        <th width="10%" style="text-align: center">Request</th>
        <th width="10%" style="text-align: center">Date Filed</th>
        <th width="15%" style="text-align: center">Employee</th>
        <th width="25%" style="text-align: center">Inclusive Dates</th>
        <th width="20%" style="text-align: center">Details</th>
        <th width="5%"  style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>

      <% @results.each(:as => :hash) do |row| %>
          <tr>
          <td><%= check_box_tag "requests[]", row["request_type"]+":"+row["request_id"].to_s %></td>
          <td><%= row["request_type"] %></td>
          <td><%= row["created_at"].try(:strftime, "%b %d, %Y") %></td>
          <td><%= Employee.find(row["employee_id"]).firstlastname %></td>
          <td><%= row["start_date"].to_s.to_datetime.try(:strftime,"%b %d, %Y")%>
            <% if row["end_date"]!="n/a" %>
            <%= " - " + row["end_date"].to_s.to_date.try(:strftime,"%b %d, %Y")%>
            <% end %>
          </td>
          <td><%= truncate(row["details"].to_s, :length => 30) %></td>
          <td>
            <% if row["request_type"]=="Leave" %>
                <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_leafe_path(row["request_id"]) %>
            <% elsif row["request_type"]=="Undertime" %>
                <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_undertime_path(row["request_id"]) %>
            <% elsif row["request_type"]=="Overtime" %>
                <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_overtime_path(row["request_id"]) %>
            <% elsif row["request_type"]=="Offset" %>
                <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_offset_path(row["request_id"]) %>
            <% elsif row["request_type"]=="Official Business" %>
                <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_official_business_path(row["request_id"]) %>
            <% elsif row["request_type"]=="Equipment Request" %>
                <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_equipment_request_path(row["request_id"]) %>
            <% end %>
           </td>
      <% end %>


      </tbody>
    </table>
    <div align="center"></div>
</div>
</div>
<% end %>
<% end %>

<script>
  $(document).ready(function(){
    $("#checkall").change(function(){
      $("input:checkbox").prop("checked",
      $(this).prop("checked"));
    });
  });
</script>
