<%= bootstrap_form_tag url: '/generate_report.csv' do |f| %>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-12"><h3>Generate Report</h3></div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-4" >
        <div class="form-group">
              <%=f.collection_select :department, BusinessUnit.where(status: ['H','A']), :id, :name %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
        <%= f.label :report_type%>
        <%= f.radio_button :report_type, "All Dates", label: "All Dates", checked: true %>
        <%= f.radio_button :report_type, "With Requests", label: "Only Dates with Requests" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <%= f.text_field :start_date, :label => "Start Date", :class => "form-control picker" %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :end_date, :label => "End Date", :class => "form-control picker" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= label_tag :checkbox, "Employee Status" %><br>
          <input type="checkbox" value="" id="all_stats"> All
          <%= check_box_tag("emp_stat[]", 3, false, class: "category_select es")%> Regular
          <%= check_box_tag("emp_stat[]", 2, false, class: "category_select es")%> Probationary
          <%= check_box_tag("emp_stat[]", 7, false, class: "category_select es")%> Consultant
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :request_status %>
          <%= f.radio_button :request_status, "A", label: "Approved", checked: true %>
          <%= f.radio_button :request_status, "P", label: "Pending" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= label_tag :checkbox, "Request Types" %><br>
          <input type="checkbox" value="" id="all_types"> All
          <%= check_box_tag("request_type[]", "Leave", false, class: "category_select rt")%> Leave
          <%= check_box_tag("request_type[]", "Undertime", false, class: "category_select rt")%> Undertime
          <%= check_box_tag("request_type[]", "Overtime", false, class: "category_select rt")%> Overtime
          <%= check_box_tag("request_type[]", "Offset", false, class: "category_select rt")%> Offset
          <%= check_box_tag("request_type[]", "Official Business", false, class: "category_select rt")%> Official Business
        </div>
      </div>
    </div>

    <div style="text-align:right">
      <button type="submit" class="btn btn-success" id="submit">Download CSV File</button>
    </div>

  </div>
</div>

<% end %>

<script>
  var count = 0;
  $(function () {
    $('.picker').datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: new Date()
    });

    $("#all_stats").change(function(){
      $(".es").prop("checked",
          $(this).prop("checked"));
    });

    $("#all_types").change(function(){
      $(".rt").prop("checked",
          $(this).prop("checked"));
    });

  });


  $('form').submit(function(e){
    //validate!
    if( $('#_department').val() == '' ||
        $('#start_date').val() == '' ||
        $('input[name="emp_stat[]"]:checked').length == 0 ||
        $('input[name="request_type[]"]:checked').length == 0)
    {
      swal('All fields are required!');
      e.preventDefault();
    }
    
  });

</script>