<%= form_tag(review_multiple_leaves_path, method: :put) do%>
<!--breadcrumbs-->
<!--breadcrumbs-->
<ul class="nav nav-pills nav-justified">
  <li ><a href="/adminviews">Pending</a></li>
  <li class="active"><a href="/admin_leaves">Leave</a></li>
  <li><a href="/admin_undertimes">Undertime</a></li>
  <li><a href="/admin_overtimes">Overtime</a></li>
  <li><a href="/admin_offsets">Offset</a></li>
  <li><a href="/admin_official_businesses">Official Business</a></li>
  <li><a href="/admin_equipment_requests">Equipment</a></li>
</ul>

<hr>

<div class="row" style="margin-bottom: 10px">
  <div class="col-sm-6"><h3>Review Leaves</h3></div>
</div>

<div class="row">
  <div class="col-sm-6" style="margin-bottom: 20px">
    <%= submit_tag "Approve", :class => "btn btn-success" %>
    <%= submit_tag "Deny", :class => "btn btn-danger" %>
    <input type="checkbox" value="" id="checkall"> Check All
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="5%"  style="text-align: center"></th>
        <th width="10%" style="text-align: center">Date Filed</th>
        <th width="15%" style="text-align: center">Employee</th>
        <th width="20%" style="text-align: center">Inclusive Dates</th>
        <th width="10%" style="text-align: center">Days</th>
        <th width="10%" style="text-align: center">Type</th>
        <th width="15%" style="text-align: center" >Reason</th>
        <th width="10%" style="text-align: center" >Status</th>
        <th width="5%"  style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>


          <% @leaves.each do |lv| %>
          <tr>
            <td>
              <% if lv.status == 'P' %>
              <%= check_box_tag "leave_ids[]", lv.id %>
              <% end %>
            </td>
            <td><%= lv.created_at.strftime("%b %d, %Y") %></td>
            <td><%= Employee.find(lv.employee_id).firstlastname %></td>
            <td>
              <% if lv.start_date == lv.end_date %>
                  <%= lv.start_date.strftime("%b %d, %Y") %>
              <% else %>
                  <%= "From " + lv.start_date.strftime("%b %d, %Y") + " To " + lv.end_date.strftime("%b %d, %Y") %>
              <% end %>
            </td>
            <td>
              <% if lv.no_of_days%1!=0 %>
                  <%= lv.no_of_days %>
              <% else %>
                  <%= lv.no_of_days %>
              <% end %>
            </td>
            <td><%= lv.leave_type %></td>
            <td><%= truncate(lv.reason, :length => 30 )%></td>
            <td>
              <% if lv.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif lv.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif lv.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif lv.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td>     <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_leafe_path(lv) %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @leaves %></div>
  </div>
</div>
<% end %>

<script>
  $(document).ready(function(){
    $("#checkall").change(function(){
      $("input:checkbox").prop("checked",
          $(this).prop("checked"));
    });
  });
</script>
