
<div class="row">
	<div class="col-sm-12">
		<h3>Reset leave credits to all regular employees</h3>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label>Vacation Leave</label>
				<input type="text" class="form-control" id="vl">
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label>Sick Leave</label>
				<input type="text" class="form-control" id="sl">
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-8">
			<div class="form-group">
				<label>Your email address</label>
				<input type="hidden" id="useremail" value="<%= @user.email %>">
				<input type="text" class="form-control" id="email">
			</div>
		</div>

	</div>


	<div class="row">
		<div class="col-sm-8" style="text-align:right">
			<button type="button" class="btn btn-success" id="submit" disabled>Submit</button>
			<a href="/adminviews" class="btn btn-danger">Cancel</a>
		</div>
	</div>

</div>

<script>
	$(document).on('ready page:load', function() {
		$("#email").on('input', function(){
			var email = $('#useremail').val();

			if($("#email").val() == email){
				$('#submit').prop("disabled", false);
			}
			else{
				$('#submit').prop("disabled", true);	
			}
		});

		$("#submit").on('click', function(){
			var vl = $('#vl').val();
			var sl = $('#sl').val();
			var email = $('#useremail').val();
			var envelope = {"vl":vl, "sl":sl, "email": email}

			swal({
			  title: "Are you sure?",
			  text: "This action will reset the leave credits of all regular employees",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonClass: "btn-danger",
			  confirmButtonText: "Continue",
			  closeOnConfirm: false
			},
			function(){
				$.ajax({
	        url: "/reset_leave_credits.json",
	        type: "POST",
	        data: envelope,
	        dataType: "json",

	        success: function(e){
	          // console.log("!!"+e);
	          
	          if(e[0]["message"] == "ok"){
	           setTimeout(function() {
	              swal({
                  title: "Success!",
                  text: "",
                  type: "success"
	              }, function() {
	                  window.location = "<%= adminviews_path %>";
	              });
	          	}, 0);
	         	}//end if

	        },
	        error: function(e){
	          // console.log(e.responseText);

	          setTimeout(function() {
	              swal({
	                  title: "Error!",
	                  text: e.responseText,
	                  type: "error"
	              }, function() {
	                  window.location = "<%= reset_leaves_path %>";
	              });
	          }, 0);

	        }

      	});

			});

		})

	})

</script>