<%= bootstrap_form_for @dependent, :url => {:action => :create, :id => @employee.id} do |f| %>

    <% if @dependent.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @dependent.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Add Dependent</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :name%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :relationship%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :birthday, :class => "datetimepicker", :id => "birthday"%>
          </div>
        </div>
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <% if current_user.id == @employee.id %>
            <a href="/profile/<%=@employee.id%>"><button class="btn btn-danger">Cancel</button></a>
          <% else %>
            <a href="/employees/<%=@employee.id%>/edit"><button class="btn btn-danger">Cancel</button></a>
          <% end %>
        </div>
      </div>
    </div>


<% end %>



<script type="text/javascript">
  $(function () {

    $('.datetimepicker').datetimepicker({
      format: 'L',
      format: 'DD/MM/YYYY',
      useCurrent: false
    });
  });
</script>