
<!--breadcrumbs-->
<!--breadcrumbs-->
<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="/userviews">Pending</a></li>
  <li ><a href="/leaves">Leave</a></li>
  <li><a href="/undertimes">Undertime</a></li>
  <li><a href="/overtimes">Overtime</a></li>
  <li><a href="/offsets">Offset</a></li>
  <li><a href="/official_businesses">Official Business</a></li>
  <li><a href="/equipment_requests">Equipment</a></li>
</ul>

<hr>
    <% if @results.first.nil? %>
        <h4>You have no pending requests!</h4>
    <% else %>
<div class="row" style="margin-bottom: 10px">
  <div class="col-sm-6"><h3>Pending Requests</h3>
    <h5>You have <span class="badge"><%= @results.size %></span> pending requests</h5></div>
</div>

<div class="row">
  <div class="col-sm-12">


    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="20%" style="text-align: center">Request Type</th>
        <th width="20%" style="text-align: center">Date Filed</th>
        <th width="25%" style="text-align: center">Inclusive Dates</th>
        <th width="35%" style="text-align: center">Details</th>
      </tr>
      </thead>
      <tbody>

      <% @results.each(:as => :hash) do |row| %>
          <tr>
          <td><%= row["request_type"] %></td>
          <td><%= row["created_at"].try(:strftime, "%b %d, %Y") %></td>
          <td><%= row["start_date"].to_s.to_datetime.try(:strftime,"%b %d, %Y")%>
            <% if row["end_date"]!="n/a" %>
            <%= " - " + row["end_date"].to_s.to_date.try(:strftime,"%b %d, %Y")%>
            <% end %>
          </td>
          <td><%= truncate(row["details"].to_s, :length => 30) %></td>
      <% end %>


      </tbody>
    </table>
    <div align="center"></div>
</div>
</div>
<% end %>
