<%= bootstrap_form_for @employee do |f| %>

    <% if @employee.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @employee.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 10px">
      <div class="col-sm-6">
        <h3>Employee Profile</h3>
        </div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", employees_path, :class => "btn btn-default" %>
      </div>
    </div>


    <ul class="nav nav-pills nav-justified">
      <li data-toggle="tab" href="#home" class="active"><a >Personal Details</a></li>
      <li data-toggle="tab" href="#menu1"><a >Contact Details</a></li>
      <li data-toggle="tab" href="#menu2"><a >Job and Benefits</a></li>
      <li data-toggle="tab" href="#menu3"><a >Approvers</a></li>
      <li data-toggle="tab" href="#menu4"><a >Emergency Contacts</a></li>
      <li data-toggle="tab" href="#menu5"><a >Dependents</a></li>
      <li data-toggle="tab" href="#menu6"><a >Leave Summary</a></li>
    </ul>


    <hr>
    <div class="tab-content" style="margin-top: 30px">
      <div id="home" class="tab-pane fade in active">

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :last_name%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :first_name%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :middle_name%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :employee_no%>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                  <%= f.text_field :pagibig%>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :sss, :label=>"SSS"%>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :tin, :label=>"Tin Number"%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :philhealth%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :birthday, :class => "datetimepicker", :id => "birthday" %>
                <input type="hidden" value="<%= @employee.birthday.try(:strftime, "%d/%m/%Y") %>" id="hidden_birthday">
              </div>
              <div class="col-sm-4">
                <%= f.label :gender%>
              <%= f.radio_button :gender, "M", label: "Male", checked: true %>
              <%= f.radio_button :gender, "F", label: "Female" %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                    <%= f.select :role, select_role %>
              </div>
              <div class="col-sm-4">
                <%= f.check_box :is_admin, {}, "Y", "N"%>
              </div>
            </div>

            <div style="text-align:right">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>

      </div>

      <div id="menu1" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-8">
                <%= f.text_field :street%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :city%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :province%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :zip, :label=>"Zip code"%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :home_no%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :mobile_no%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.email_field :email, :label=>"Work E-mail"%>
              </div>
              <div class="col-sm-4">
                <%= f.email_field :email2, :label=>"Personal E-mail"%>
              </div>
            </div>
            <div style="text-align:right">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>

      </div>


      <div id="menu2" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <%= f.collection_select :job_title_id, JobTitle.where(status: 'A'), :id, :name%>
              </div>
              <div class="col-sm-4">
                <%= f.collection_select :job_level_id, JobLevel.where(status: 'A'), :id, :leveltos%>
              </div>
              <div class="col-sm-4">
                <%= f.collection_select :job_status_id, JobStatus.where(status: 'A'), :id, :name%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.collection_select :business_unit_id, BusinessUnit.where(status: 'A'), :id, :name%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :date_employed, :class => "datetimepicker", :id => "date_employed"%>
                <input type="hidden" value="<%= @employee.date_employed.try(:strftime, "%d/%m/%Y") %>" id="hidden_date_employed">
              </div>
              <div class="col-sm-4">
                <%= f.text_field :date_regularized, :class => "datetimepicker", :id => "date_regularized" %>
                <input type="hidden" value="<%= @employee.date_regularized.try(:strftime, "%d/%m/%Y") %>" id="hidden_date_regularized">
              </div>
              <div class="col-sm-4">
                <%= f.text_field :date_separated, :class => "datetimepicker", :id => "date_separated" %>
                <input type="hidden" value="<%= @employee.date_separated.try(:strftime, "%d/%m/%Y") %>" id="hidden_date_separated">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :biometrics_id%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :falco_id%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.time_select :time_in%>
              </div>
              <div class="col-sm-4">
                <%= f.time_select :time_out%>
              </div>
            </div>
            <hr>

            <div class="row">

              <div class="col-sm-4">
                <label>Sick leave credit</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="sl_credit" placeholder="<%= @employee.sick_leave_credit %>" disabled>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal1"><b>+ / -</b></button>
                  </span>
                </div>
              </div>

              <div class="col-sm-4">
                <label>Vacation leave credit</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="vl_credit" placeholder="<%= @employee.vacation_leave_credit %>" disabled>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal2"><b>+ / -</b></button>
                  </span>
                </div>
              </div>

              <!-- <div class="col-sm-4">
                <%= f.text_field :sick_leave_credit%>
              </div> -->
              <!-- <div class="col-sm-4">
                <%= f.text_field :vacation_leave_credit%>
              </div> -->
            </div>

            <div class="row">
              <div class="col-sm-4">
                <!-- <%= f.text_field :sick_leave_balance, :disabled=>true%> -->
                <label>Sick leave balance</label>
                <input type="text" class="form-control" id="sl_balance" placeholder="<%= @employee.sick_leave_balance %>" disabled>
              </div>
              <div class="col-sm-4">
                <!-- <%= f.text_field :vacation_leave_balance, :disabled=>true%> -->
                <label>Vacation leave balance</label>
                <input type="text" class="form-control" id="vl_balance" placeholder="<%= @employee.vacation_leave_balance %>" disabled>
              </div>
            </div>

            <div style="text-align:right">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>

      </div>

      <div id="menu3" class="tab-pane fade">

        <div class="row" style="margin-bottom: 20px">
          <div class="col-sm-6"><h3>Approvers</h3></div>
          <div class="col-sm-6" style="margin-top:15px; text-align: right">
            <%= link_to "+", new_approver_path(:id=>@employee.id), :class=>"btn btn-success" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped" style="text-align: center">
              <thead style="background-color: #0059bc; color:white">
              <tr>
                <th width="30%" style="text-align: center">Name</th>
                <th width="30%" style="text-align: center">Position</th>
                <th width="30%" style="text-align: center">Email</th>
                <th width="10%" ></th>
              </tr>
              </thead>
              <tbody>
              <% @employee.links_to_superior.each do |sup| %>
                  <tr>
                    <!--Employee.where(status: 'A').find(sub.approver_id).firstlastname-->
                    <td><%= Employee.find(sup.approver_id).firstlastname %></td>
                    <td><%= JobTitle.find( Employee.find(sup.approver_id).job_title_id).name %></td>
                    <td><%= Employee.find(sup.approver_id).email %></td>
                    <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), sup, :confirm => "Are you sure?", :method => :delete %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div id="menu4" class="tab-pane fade">
        <div class="row" style="margin-bottom: 20px">
          <div class="col-sm-6"><h3>Emergency Contacts</h3></div>
          <div class="col-sm-6" style="margin-top:15px; text-align: right">
            <%= link_to "+", new_emergency_contact_path(:id=>@employee.id), :class=>"btn btn-success" %>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped">
              <thead style="background-color: #0059bc; color:white">
              <tr>
                <th width="20%" >Name</th>
                <th width="15%" >Relationship</th>
                <th width="20%" >Home No.</th>
                <th width="20%" >Mobile No.</th>
                <th width="20%" >Office No.</th>
                <th width="5%" colspan="2" data-field="edit"></th>
              </tr>
              </thead>
              <tbody>
              <% @employee.emergency_contacts.where(status:'A').each do |ec| %>
                  <tr>
                    <td><%= ec.name %></td>
                    <td><%= ec.relationship %></td>
                    <td><%= ec.home_no %></td>
                    <td><%= ec.mobile_no %></td>
                    <td><%= ec.office_no %></td>
                    <td><%= link_to image_tag("pencil.png", border: 0, width: 20, height: 20), edit_emergency_contact_path(ec) %></td>
                    <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), ec, :confirm => "Are you sure?", :method => :delete %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>


      </div>

      <div id="menu5" class="tab-pane fade">
        <div class="row" style="margin-bottom: 20px">
          <div class="col-sm-6"><h3>Dependents</h3></div>
          <div class="col-sm-6" style="margin-top:15px; text-align: right">
            <%= link_to "+", new_dependent_path(:id=>@employee.id), :class=>"btn btn-success" %>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped">
              <thead style="background-color: #0059bc; color:white">
              <tr>
                <th width="30%" >Name</th>
                <th width="30%" >Relationship</th>
                <th width="30%" >Birthday</th>
                <th width="10%" colspan="2" data-field="edit"></th>
              </tr>
              </thead>
              <tbody>
              <% @employee.dependents.where(status:'A').each do |dep| %>
                  <tr>
                    <td><%= dep.name %></td>
                    <td><%= dep.relationship %></td>
                    <td><%= dep.birthday.try(:strftime, "%b %d %Y") %></td>
                    <td><%= link_to image_tag("pencil.png", border: 0, width: 20, height: 20), edit_dependent_path(dep) %></td>
                    <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), dep, :confirm => "Are you sure?", :method => :delete %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>


      </div>

      <div id="menu6" class="tab-pane fade">
        <div class="row" style="margin-bottom: 20px">
          <div class="col-sm-6"><h3>Leave Summary</h3></div>
        </div>

        <div class="row">
          <div class="col-sm-12" >
            <div class="form-group">
              <!-- <label class="radio-inline"><input type="radio" id="vlRadio" value="single_day" checked="checked">Vacation Leave</label>
              <label class="radio-inline"><input type="radio" id="slRadio" value="multiple_days">Sick / Emergency / Birthday Leave</label> -->
              <div class="btn-group">
                <button type="button" class="btn btn-primary" id="vlRadio">Vacation Leave</button>
                <button type="button" class="btn btn-default" id="slRadio">Sick / Emergency / Birthday Leave</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id='vl'>

          <% if @leaves.blank? == false %>

          <div class="row"=>
            <div class="col-sm-12">
              <h4>Vacation Leave</h4>
                <table class="table table-striped" style="text-align: center">
                  <thead style="background-color: #0059bc; color:white">
                  <tr>
                    <th width="20%" style="text-align: center">Date</th>
                    <th width="15%" style="text-align: center">Number of days</th>
                    <th width="40%" style="text-align: center">Reason</th>
                    <th width="25%" style="text-align: center">Remarks</th>
                  </tr>
                  </thead>
                  <tbody>

                  <% @leaves.each do |l| %>

                      <% if l.leave_type == "Vacation Leave" %>
                      <tr>
                        <!--Employee.where(status: 'A').find(sub.approver_id).firstlastname-->
                        <td><%= l.start_date.strftime("%b %d") %> to <%= l.end_date.strftime("%b %d, %Y") %></td>
                        <td><%= l.no_of_days %></td>
                        <td><%= l.reason %></td>
                        <td><%= l.remark %></td>
                      </tr>
                      <%end%>

                  <% end %>                
                  </tbody>
                </table>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <table class="table table-striped">
                <tr>
                  <td><b>Total Vacation Leave Balance</b></td>
                  <td><%= @employee.vacation_leave_balance %></td>
                </tr>

                <tr>
                  <td><b>Total Vacation Leave Used</b></td>
                  <td><%= @vl %></td>
                </tr>

                <tr>
                  <td><b>Totl Vacation Leave Left</b></td>
                  <td><%= @employee.vacation_leave_balance - @vl %></td>
                </tr>
              </table>
            </div>
          </div>

          <% end %>

        </div>

        <div class="row" id='sl' style='display:none'>

          <% if @leaves.blank? == false %>

          <div class="row">
            <div class="col-sm-12">
              <h4>Sick Leave</h4>
                <table class="table table-striped" style="text-align: center">
                  <thead style="background-color: #0059bc; color:white">
                  <tr>
                    <th width="20%" style="text-align: center">Date</th>
                    <th width="15%" style="text-align: center">Number of days</th>
                    <th width="40%" style="text-align: center">Reason</th>
                    <th width="25%" style="text-align: center">Remarks</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @leaves.each do |l| %>

                    <% if l.leave_type == 'Sick Leave'  %>
                      <tr>
                        <!--Employee.where(status: 'A').find(sub.approver_id).firstlastname-->
                        <td><%= l.start_date.strftime("%b %d") %> to <%= l.end_date.strftime("%b %d, %Y") %></td>
                        <td><%= l.no_of_days %></td>
                        <td><%= l.reason %></td>
                        <td><%= l.remark %></td>
                      </tr>
                    <% end %>

                  <% end %>
                  </tbody>
                </table>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <table class="table table-striped">
                <tr>
                  <td><b>Total Sick Leave Balance</b></td>
                  <td><%= @employee.sick_leave_balance %></td>
                </tr>

                <tr>
                  <td><b>Total Sick Leave Used</b></td>
                  <td><%= @sl %></td>
                </tr>

                <tr>
                  <td><b>Totl Sick Leave Left</b></td>
                  <td><%= @employee.sick_leave_balance - @sl %></td>
                </tr>
              </table>
            </div>
          </div>

          <% end %>

        </div>

      </div>

    </div>



<!-- Modal add sick leave credit -->
<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add sick leave credit</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>No of days</label>
              <input type="text" id="sl_add_value" class="form-control"/>
            </div>
            <p style="font-size:0.9em">*To deduct credit, just input a negative number</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="sl_add" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<!-- Modal add vacation leave credit -->
<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add vacation leave credit</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>No of days</label>
              <input type="text" id="vl_add_value" class="form-control"/>
            </div>
            <p style="font-size:0.9em">*To deduct credit, just input a negative number</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="vl_add" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- end -->



<script type="text/javascript">
  $(function () {

    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });

    //add sick leave
    $("#sl_add").on("click", function(){
      var value= $("#sl_add_value").val();
      var emp= <%= @employee.id%>

      var envelope={"employee_id": emp, "value":value};

      $.ajax({
        type: "POST",
        url: "/add_sl",
        data: envelope,
        dataType: "json",
        success: function(data){
          $('#sl_credit').val(data[0]["credit"]);
          $('#sl_balance').val(data[0]["balance"]);
          swal("Added "+ value + " to sick leave credit");
          $("#sl_add_value").val("");
        },
        error: function(e){
          swal("error");
        }
      });

    });

    //add vacation leave
    $("#vl_add").on("click", function(){
      var value= $("#vl_add_value").val();
      var emp= <%= @employee.id%>

      var envelope={"employee_id": emp, "value":value};

      $.ajax({
        type: "POST",
        url: "/add_vl",
        data: envelope,
        dataType: "json",
        success: function(data){
          $('#vl_credit').val(data[0]["credit"]);
          $('#vl_balance').val(data[0]["balance"]);
          swal("Added "+ value + " to vacation leave credit");
          $("#vl_add_value").val("");
        },
        error: function(e){
          swal("error");
        }
      });

    });



    var birthday = $("#hidden_birthday").val();
    var employed = $("#hidden_date_employed").val();
    var regularized = $("#hidden_date_regularized").val();
    var separated = $("#hidden_date_separated").val();
    $('.datetimepicker').datetimepicker({
      format: 'L',
      format: 'DD/MM/YYYY',
      useCurrent: false,
      viewMode: 'years'
    });
    $('#birthday').data("DateTimePicker").defaultDate(birthday);
    $('#date_employed').data("DateTimePicker").defaultDate(employed);
    $('#date_regularized').data("DateTimePicker").defaultDate(regularized);
    $('#date_separated').data("DateTimePicker").defaultDate(separated);
  });


   $('#vlRadio').click(function(){
    $('div#vl').show();
    $('div#sl').hide();

    $('#vlRadio').attr('class','btn btn-primary');
    $('#slRadio').attr('class','btn btn-default');
  });

  $('#slRadio').click(function(){
    $('div#vl').hide();
    $('div#sl').show();

    $('#vlRadio').attr('class','btn btn-default');
    $('#slRadio').attr('class','btn btn-primary');
  });

</script>
<% end %>