<!--breadcrumbs-->
  <!--breadcrumbs-->

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Employees</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> 
    
    <div class="form-group">

      <%= form_tag('/employee_search') do %>
      <div class="col-sm-10">
          <div class="input-group">
            <input class="form-control" name="search" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div><!-- /input-group -->
      </div><!-- /.row -->
      <%end%>


      <div class="col-sm-2">
        <a href="employees/new"><button type="button" class="btn btn-success"><b>+</b></button></a>
      </div>
    </div>
    
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="5%" style="text-align: center">No.</th>
        <th width="35%" style="text-align: center">Name</th>
        <th width="30%" style="text-align: center" >Title</th>
        <th width="10%" style="text-align: center" >Status</th>
        <th width="20%" style="text-align: center">Business Unit</th>
      </tr>
      </thead>
      <tbody>
      <% @employees.each do |e| %>
          <tr>
            <td><%= e.employee_no %></td>
            <td><%= link_to  e.last_name + ", " + e.first_name + " " + e.middle_name, edit_employee_path(e) %></td>
            <td><%= e.job_title.try :name %></td>
            <td><%= e.job_status.try :name %></td>
            <td><%= e.business_unit.try :name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @employees %></div>
  </div>
</div>