<%= bootstrap_form_for @employee do |f| %>

    <% if @employee.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
        <ul><% @employee.errors.full_messages.each do |m|%>
          <li><%= m %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Add Employee</h3></div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :employee_no%>
          </div>

          <div class="col-sm-4">
            <%= f.email_field :email%>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :last_name%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :first_name%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :middle_name%>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-sm-4">
            <%= f.collection_select :job_title_id, JobTitle.where(status: 'A'), :id, :name%>
          </div>
          <div class="col-sm-4">
            <%= f.collection_select :job_level_id, JobLevel.where(status: 'A'), :id, :leveltos%>
          </div>
          <div class="col-sm-4">
            <%= f.collection_select :job_status_id, JobStatus.where(status: 'A'), :id, :name%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.collection_select :business_unit_id, BusinessUnit.where(status: 'A'), :id, :name%>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <%= f.select :role, select_role%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.check_box :is_admin, {}, "Y", "N"%>
          </div>
        </div>

        
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <a href="/employees"><button class="btn btn-danger">Cancel</button></a>
        </div>
      </div>
    </div>
<% end %>