<%= bootstrap_form_for @employee do |f| %>

    <% if @employee.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @employee.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <input type="hidden" name="from_profile" value="true"/>

    <div class="row" style="margin-bottom: 10px">
      <div class="col-sm-6">
        <% if @employee.id == current_user.id %>
            <h3>My Profile</h3>
        <% else %>
            <h3>Employee Profile</h3>
        <% end %>

        </div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <button type="button" class="btn btn-default"><b>
          <% if @employee.id == current_user.id %>
              <% if @employee.role == "Manager" %>
              <%= link_to "Back", managerviews_path %>
              <% else %>
              <%= link_to "Back", leaves_path %>
              <% end %>
          <% else %>
              <%= link_to "Back", view_subordinates_path(current_user) %>
          <% end %>
        </b></button>
      </div>
    </div>


    <ul class="nav nav-pills nav-justified">
      <li data-toggle="tab" href="#home" class="active"><a >Personal Details</a></li>
      <li data-toggle="tab" href="#menu1"><a >Contact Details</a></li>
      <li data-toggle="tab" href="#menu2"><a >Job and Benefits</a></li>
      <li data-toggle="tab" href="#menu3"><a >Approvers</a></li>
      <li data-toggle="tab" href="#menu4"><a >Emergency Contacts</a></li>
      <li data-toggle="tab" href="#menu5"><a >Dependents</a></li>
      <li data-toggle="tab" href="#menu6"><a >Leave Summary</a></li>
    </ul>


    <hr>
    <div class="tab-content" style="margin-top: 30px">
      <div id="home" class="tab-pane fade in active">

        <div class="row">
          <div class="col-sm-12">
            <div class="row">

              <% if @employee.id == current_user.id %>
                <div class="col-sm-4">
                  <%= f.text_field :last_name%>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :first_name%>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :middle_name%>
                </div>

              <% else %>
                <div class="col-sm-4">
                  <%= f.text_field :last_name, :readonly => :readonly%>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :first_name, :readonly => :readonly%>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :middle_name, :readonly => :readonly %>
                </div>
              <%end%>

            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :employee_no, :readonly => true%>
              </div>
            </div>

            <% if @employee.id == current_user.id %>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :pagibig%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :sss, :label=>"SSS"%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :tin, :label=>"Tin Number"%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :philhealth%>
              </div>
            </div>

            <% else %>
            <div class="row">
                <div class="col-sm-4">
                  <%= f.text_field :pagibig, :readonly => :readonly%>
                </div>
                <div class="col-sm-4">
                  <%= f.text_field :sss, :label=>"SSS", :readonly => :readonly%>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :tin, :label=>"Tin Number", :readonly => :readonly%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :philhealth, :readonly => :readonly %>
              </div>
            </div>
            <% end %>

            <hr>
            <div class="row">
              <div class="col-sm-4">
                <% if @employee.id == current_user.id %>
                <%= f.text_field :birthday, :class => "datetimepicker", :id => "bday" %>
                    <input type="hidden" value="<%= @employee.birthday.try(:strftime, "%d/%m/%Y") %>" id="hidden_bday">
                <% else %>
                    <div class="form-group">
                      <label>Birthday</label>
                      <input class="form-control" placeholder="<%= @employee.birthday.try(:strftime, "%d/%m/%Y") %>" readonly>
                    </div>
                <% end %>
              </div>
              <div class="col-sm-4">
                <%= f.label :gender%>
              <%= f.radio_button :gender, "M", label: "Male", checked: true %>
              <%= f.radio_button :gender, "F", label: "Female" %>
              </div>
            </div>
            <hr>

            <% if @employee.id == current_user.id %>
                <div style="text-align:right">
                  <button type="submit" class="btn btn-success" >Save</button>
                </div>
            <% else %>
            <% end %>

          </div>
        </div>

      </div>

      <div id="menu1" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-12">

            <% if @employee.id == current_user.id %>
            <div class="row">
              <div class="col-sm-8">
                <%= f.text_field :street%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :city%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :province%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :zip, :label=>"Zip code"%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :home_no%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :mobile_no%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Work E-mail</label>
                  <input class="form-control" placeholder="<%= @employee.email%>" readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <%= f.email_field :email2, :label=>"Personal E-mail"%>
              </div>
            </div>
                <div style="text-align:right">
                  <button type="submit" class="btn btn-success">Save</button>
                </div>
            <% else %>
            <div class="row">
              <div class="col-sm-8">
                <%= f.text_field :street, :readonly => :readonly%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :city, :readonly => :readonly%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :province, :readonly => :readonly%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :zip, :label=>"Zip code", :readonly => :readonly%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :home_no, :readonly => :readonly%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :mobile_no, :readonly => :readonly%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Work E-mail</label>
                  <input class="form-control" placeholder="<%= @employee.email%>" readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <%= f.email_field :email2, :label=>"Personal E-mail", :readonly => :readonly%>
              </div>
            </div>
            <% end %>

          </div>
        </div>

      </div>


      <div id="menu2" class="tab-pane fade">

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                <label>Job title</label>
                <input class="form-control" placeholder="<%= JobTitle.find(@employee.job_title_id).name %>" readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                <label>Job level</label>
                <input class="form-control" placeholder="<%= JobLevel.find(@employee.job_level_id).leveltos %>" readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                <label>Job status</label>
                <input class="form-control" placeholder="<%= JobStatus.find(@employee.job_status_id).name %>" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                <label>Business unit</label>
                <input class="form-control" placeholder="<%= BusinessUnit.find(@employee.business_unit).name %>" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Date employed</label>
                  <input class="form-control" placeholder="<%= @employee.date_employed.try(:strftime, "%d/%m/%Y") %>" readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Date regularized</label>
                  <input class="form-control" placeholder="<%= @employee.date_regularized.try(:strftime, "%d/%m/%Y") %>" readonly>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Date separated</label>
                  <input class="form-control" placeholder="<%= @employee.date_separated.try(:strftime, "%d/%m/%Y") %>" readonly>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :biometrics_id, :readonly => :readonly%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :falco_id, :readonly => :readonly%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.time_select :time_in, :readonly => :readonly%>
              </div>
              <div class="col-sm-4">
                <%= f.time_select :time_out, :readonly => :readonly%>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :sick_leave_credit%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :vacation_leave_credit%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :sick_leave_balance, :readonly => :readonly%>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :vacation_leave_balance, :readonly => :readonly%>
              </div>
            </div>


          </div>
        </div>

      </div>

      <div id="menu3" class="tab-pane fade">

        <div class="row" style="margin-bottom: 20px">
          <div class="col-sm-6"><h3>Approvers</h3></div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped" style="text-align: center">
              <thead style="background-color: #0059bc; color:white">
              <tr>
                <th width="30%" style="text-align: center">Name</th>
                <th width="30%" style="text-align: center">Position</th>
                <th width="30%" style="text-align: center">Email</th>
              </tr>
              </thead>
              <tbody>
              <% @employee.superiors.each do |sup| %>
                  <tr>
                    <!--Employee.where(status: 'A').find(sub.approver_id).firstlastname-->
                    <td><%= sup.firstlastname %></td>
                    <td><%= JobTitle.find(sup.job_title_id).name %></td>
                    <td><%= sup.email %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div id="menu4" class="tab-pane fade">
        <div class="row" style="margin-bottom: 20px">
          <div class="col-sm-6"><h3>Emergency Contacts</h3></div>
            <% if @employee.id == current_user.id %>
                <div class="col-sm-6" style="margin-top:15px; text-align: right">
                  <%= link_to "+", new_emergency_contact_path(:id=>@employee.id), :class=>"btn btn-success" %>
                </div>
            <% else %>
            <% end %>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped">
              <thead style="background-color: #0059bc; color:white">
              <tr>
                <th width="20%" >Name</th>
                <th width="15%" >Relationship</th>
                <th width="20%" >Home No.</th>
                <th width="20%" >Mobile No.</th>
                <th width="20%" >Office No.</th>
                <th width="5%" colspan="2" data-field="edit"></th>
              </tr>
              </thead>
              <tbody>
              <% @employee.emergency_contacts.where(status:'A').each do |ec| %>
                  <tr>
                    <td><%= ec.name %></td>
                    <td><%= ec.relationship %></td>
                    <td><%= ec.home_no %></td>
                    <td><%= ec.mobile_no %></td>
                    <td><%= ec.office_no %></td>
                    <% if @employee.id == current_user.id %>
                        <td><%= link_to image_tag("pencil.png", border: 0, width: 20, height: 20), edit_emergency_contact_path(ec) %></td>
                        <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), ec, :confirm => "Are you sure?", :method => :delete %></td>
                    <% else %>
                        <td></td>
                        <td></td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>


      </div>

      <div id="menu5" class="tab-pane fade">
        <div class="row" style="margin-bottom: 20px">
          <div class="col-sm-6"><h3>Dependents</h3></div>
          <% if @employee.id == current_user.id %>
          <div class="col-sm-6" style="margin-top:15px; text-align: right">
            <%= link_to "+", new_dependent_path(:id=>@employee.id), :class=>"btn btn-success" %>
          </div>
          <% else %>
          <% end %>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <table class="table table-striped">
              <thead style="background-color: #0059bc; color:white">
              <tr>
                <th width="30%" >Name</th>
                <th width="30%" >Relationship</th>
                <th width="30%" >Birthday</th>
                <th width="10%" colspan="2" data-field="edit"></th>
              </tr>
              </thead>
              <tbody>
              <% @employee.dependents.where(status:'A').each do |dep| %>
                  <tr>
                    <td><%= dep.name %></td>
                    <td><%= dep.relationship %></td>
                    <td><%= dep.birthday.try(:strftime, "%d/%m/%Y") %></td>
                    <% if @employee.id == current_user.id %>
                        <td><%= link_to image_tag("pencil.png", border: 0, width: 20, height: 20), edit_dependent_path(dep) %></td>
                        <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), dep, :confirm => "Are you sure?", :method => :delete %></td>
                    <% else %>
                        <td></td>
                        <td></td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>


      </div>

      <div id="menu6" class="tab-pane fade">
        <div class="row" style="margin-bottom: 20px">
          <div class="col-sm-6"><h3>Leave Summary</h3></div>
        </div>

        <div class="row">
          <div class="col-sm-12" >
            <div class="form-group">
              <!-- <label class="radio-inline"><input type="radio" id="vlRadio" value="single_day" checked="checked">Vacation Leave</label>
              <label class="radio-inline"><input type="radio" id="slRadio" value="multiple_days">Sick / Emergency / Birthday Leave</label> -->
              <div class="btn-group">
                <button type="button" class="btn btn-primary" id="vlRadio">Vacation Leave</button>
                <button type="button" class="btn btn-default" id="slRadio">Sick / Emergency / Birthday Leave</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id='vl'>

          <% if @leaves.blank? == false %>

          <div class="row"=>
            <div class="col-sm-12">
              <h4>Vacation Leave</h4>
                <table class="table table-striped" style="text-align: center">
                  <thead style="background-color: #0059bc; color:white">
                  <tr>
                    <th width="20%" style="text-align: center">Date</th>
                    <th width="15%" style="text-align: center">Number of days</th>
                    <th width="40%" style="text-align: center">Reason</th>
                    <th width="25%" style="text-align: center">Remarks</th>
                  </tr>
                  </thead>
                  <tbody>

                  <% @leaves.each do |l| %>

                      <% if l.leave_type == "Vacation Leave" %>
                      <tr>
                        <!--Employee.where(status: 'A').find(sub.approver_id).firstlastname-->
                        <td><%= l.start_date.strftime("%b %d") %> to <%= l.end_date.strftime("%b %d, %Y") %></td>
                        <td><%= l.no_of_days %></td>
                        <td><%= l.reason %></td>
                        <td><%= l.remark %></td>
                      </tr>
                      <%end%>

                  <% end %>                
                  </tbody>
                </table>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <table class="table table-striped">
                <tr>
                  <td><b>Total Vacation Leave Balance</b></td>
                  <td><%= @employee.vacation_leave_balance %></td>
                </tr>

                <tr>
                  <td><b>Total Vacation Leave Used</b></td>
                  <td><%= @vl %></td>
                </tr>

                <tr>
                  <td><b>Totl Vacation Leave Left</b></td>
                  <td><%= @employee.vacation_leave_balance - @vl %></td>
                </tr>
              </table>
            </div>
          </div>

          <% end %>

        </div>

        <div class="row" id='sl' style='display:none'>

          <% if @leaves.blank? == false %>

          <div class="row">
            <div class="col-sm-12">
              <h4>Sick Leave</h4>
                <table class="table table-striped" style="text-align: center">
                  <thead style="background-color: #0059bc; color:white">
                  <tr>
                    <th width="20%" style="text-align: center">Date</th>
                    <th width="15%" style="text-align: center">Number of days</th>
                    <th width="40%" style="text-align: center">Reason</th>
                    <th width="25%" style="text-align: center">Remarks</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @leaves.each do |l| %>

                    <% if l.leave_type == 'Sick Leave' || l.leave_type == 'Emergency Leave' || l.leave_type == 'Maternity/Paternity Leave' || l.leave_type == 'Birthday Leave' %>
                      <tr>
                        <!--Employee.where(status: 'A').find(sub.approver_id).firstlastname-->
                        <td><%= l.start_date.strftime("%b %d") %> to <%= l.end_date.strftime("%b %d, %Y") %></td>
                        <td><%= l.no_of_days %></td>
                        <td><%= l.reason %></td>
                        <td><%= l.remark %></td>
                      </tr>
                    <% end %>

                  <% end %>
                  </tbody>
                </table>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <table class="table table-striped">
                <tr>
                  <td><b>Total Sick Leave Balance</b></td>
                  <td><%= @employee.sick_leave_balance %></td>
                </tr>

                <tr>
                  <td><b>Total Sick Leave Used</b></td>
                  <td><%= @sl %></td>
                </tr>

                <tr>
                  <td><b>Totl Sick Leave Left</b></td>
                  <td><%= @employee.sick_leave_balance - @sl %></td>
                </tr>
              </table>
            </div>
          </div>

          <% end %>

        </div>

      </div>

    </div>

<% end %>

<script type="text/javascript">
  $(function () {
    var bday = $("#hidden_bday").val();
    $('.datetimepicker').datetimepicker({
      format: 'L',
      format: 'DD/MM/YYYY',
      useCurrent: false,
      viewMode: 'years'
    });
    $('#bday').data("DateTimePicker").defaultDate(bday);
  });


   $('#vlRadio').click(function(){
    $('div#vl').show();
    $('div#sl').hide();

    $('#vlRadio').attr('class','btn btn-primary');
    $('#slRadio').attr('class','btn btn-default');
  });

  $('#slRadio').click(function(){
    $('div#vl').hide();
    $('div#sl').show();

    $('#vlRadio').attr('class','btn btn-default');
    $('#slRadio').attr('class','btn btn-primary');
  });

</script>