<%= form_tag(@er, method: :put) do%>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Equipment Request Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", review_equipment_requests_path, :class => "btn btn-default" %>
      </div>
    </div>

    <% if @er.reviewed_by.nil?  && @er.status!="C"%>
        <div class="row">
          <div class="col-sm-6" style="margin-bottom: 20px">
            <%= submit_tag "Approve", :class => "btn btn-success" %>
            <%= submit_tag "Deny", :class => "btn btn-danger" %>
          </div>
        </div>
    <% end %>

<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Employee</label>
          <input class="form-control" placeholder="<%= Employee.find(@er.employee_id).firstlastname %>" readonly>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" >
        <div class="form-group">
          <label>Target Delivery Date</label>
          <input class="form-control" placeholder="<%= @er.target_delivery_date.strftime("%b %d, %Y") %>" readonly>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4" >
        <div class="form-group">
          <label>Item</label>
          <% @er.equipment_request_items.each do |item| %>
          <input class="form-control" placeholder="<%= item.item %>" readonly>
          <% end %>
        </div>
      </div>

      <div class="col-sm-2" >
        <div class="form-group">
          <label>Quantity</label>
          <% @er.equipment_request_items.each do |item| %>
          <input class="form-control" placeholder="<%= item.quantity %>" readonly>
          <% end %>
        </div>
      </div>

      <div class="col-sm-2" >
        <div class="form-group">
          <label>Unit</label>
          <% @er.equipment_request_items.each do |item| %>
          <input class="form-control" placeholder="<%= item.unit %>" readonly>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="comment">Purpose</label>
          <textarea class="form-control" rows="5" readonly="readonly"><%= @er.purpose %></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="comment">Remarks</label>
          <textarea class="form-control" readonly="readonly"><%= @er.remark %></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label>Status</label>
        <% if @er.status == 'P' %>
            <span class="label label-warning lg">Pending</span>
        <% elsif @er.status == 'C' %>
            <span class="label label-default">Cancelled</span>
        <% elsif @er.status =='A' %>
            <span class="label label-success">Approved</span> by <%= Employee.find(@er.reviewed_by).firstlastname %>
        <% elsif @er.status =='D' %>
            <span class="label label-danger">Denied</span> by <%= Employee.find(@er.reviewed_by).firstlastname %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<% end %>
