<!--breadcrumbs-->
  <!--breadcrumbs-->
<ul class="nav nav-pills nav-justified">
  <li><a href="/userviews">Pending</a></li>
  <li><a href="/leaves">Leave</a></li>
  <li ><a href="/undertimes">Undertime</a></li>
  <li><a href="/overtimes">Overtime</a></li>
  <li><a href="/offsets">Offset</a></li>
  <li><a href="/official_businesses">Official Business</a></li>
  <li class="active"><a href="/equipment_requests">Equipment</a></li>
</ul>

<hr>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Equipment Requests</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="equipment_requests/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="20%" style="text-align: center">Date Filed</th>
        <th width="20%" style="text-align: center">Target Delivery Date</th>
        <th width="20%" style="text-align: center">Items</th>
        <th width="20%" style="text-align: center" >Purpose</th>
        <th width="15%" style="text-align: center" >Status</th>
        <th width="5%" colspan="2" style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>
      <% @ers.each do |er| %>
          <tr>
            <td><%= er.created_at.strftime("%b %d, %Y") %></td>
            <td><%= er.target_delivery_date.strftime("%b %d, %Y")%></td>
            <td><ul><% er.equipment_request_items.each do |item| %>
                  <li><%= item.item %> -
                    <% if item.quantity%1!=0 %>
                        <%= item.quantity %>
                    <% else %>
                        <%= item.quantity %>
                    <% end %>
                    <%= item.unit %></li>
                  <% end %>
                  </ul></td>
            <td><%= truncate(er.purpose, :length => 30) %></td>
            <td>
              <% if er.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif er.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif er.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif er.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td> <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), equipment_request_path(er) %> </td>
            <% if er.status == 'C' %>
                <td></td>
            <% else %>
                <td> <%= link_to image_tag("trash.png", border: 0, width: 20, height: 20),  er, :confirm => "Are you sure?", :method => :delete  %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @ers %></div>
  </div>
</div>