<div id="error">
</div>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-12"><h3>Equipment Request</h3></div>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-4" >
        <div class="form-group">
          <label>Target Delivery Date</label>
          <input type=text class="form-control picker" id="date"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" >
        <div class="form-group" id="first">
          <label>Item</label>
          <input type=text class="form-control" id="item0"/>
        </div>
      </div>

      <div class="col-sm-2" >
        <div class="form-group" id="second">
          <label>Quantity</label>
          <input type=text class="form-control" id="quantity0"/>
        </div>
      </div>

      <div class="col-sm-2" >
        <div class="form-group" id="third">
          <label>Unit</label>
          <input type=text class="form-control" value="pc" id="unit0"/>
        </div>
      </div>

      <div class="col-sm-1" >
        <div class="form-group" id="fourth">
          <label>Delete</label><br>
          <input type=button class="btn btn-danger" id="delete0" value="x" disabled>
        </div>
      </div>

      <div class="col-sm-3" id="buttondiv" style="text-align: right ">
        <div class="form-group">
          <button type="submit" class="btn btn-success" id="add_row">+ Add Item</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Purpose</label>
          <textarea class="form-control" rows="5" id="purpose"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Remark</label>
          <textarea class="form-control" id="remark"></textarea>
        </div>
      </div>
    </div>

    <div style="text-align:right">
      <button type="submit" class="btn btn-success" id="submit">Submit</button>
      <a href="/equipment_requests"><button class="btn btn-danger">Cancel</button></a>
    </div>

  </div>
</div>


<script>
  var count = 0;
  $(function () {
    $('.picker').datetimepicker({
      format: 'L',
      daysOfWeekDisabled: [0, 6],
      format: 'DD/MM/YYYY'
    });

    $('.picker').data('DateTimePicker').minDate(new Date(new Date()));
  });

  $(document).on('click','[id^=delete]', function(){
    //on click of delete button
    var index = $(this).attr('id').split("delete");
    var delindex = "[id$='"+index[1]+"']";
    $(delindex).remove();
  });

  $(document).ready(function(){
    //on click of add button
    $('#add_row').click(function(){
      count+= 1;
      var i='item'+count;
      var q='quantity'+count;
      var u='unit'+count;
      var d='delete'+count;

      var margin = 'margin-top:5px';

      $('<input type=text class="form-control" />').attr("id",i).attr("style", margin).appendTo("#first");
      $('<input type=text class="form-control" />').attr("id",q).attr("style", margin).appendTo("#second");
      $('<input type=text class="form-control" value="pc" />').attr("id",u).attr("style", margin).appendTo("#third");
      $('<input type=button class="btn btn-danger" value="x">').attr("id",d).attr("style", margin).appendTo("#fourth");
      //$("#add_row").prop('disabled', true);
    });


    function checkItems(){
      var item = $('[id^=item]');
      var qty = $('[id^=quantity]');
      var unit = $('[id^=unit]');

      var flag = true;
      for(i = 0; i < item.length; i++){
        if(item[i].value == ""){
          flag = false;
        }
        if(qty[i].value == ""){
          flag = false;
        }
        if(unit[i].value == ""){
          flag = false;
        }
      }
      return flag;
    }

    //on click of submit button
    $('#submit').click(function(){
      var flag = checkItems();
      if(flag){
        var equipment_request = {};
        var purpose = $("#purpose").val();
        var remark = $("#remark").val();
        var date = $("#date").val();
        equipment_request["purpose"] = purpose;
        equipment_request["remark"] = remark;
        equipment_request["target_delivery_date"] = date;
        var itemsarray = {};

        for(i=0; i<=count; i++){
          var iid = "#item"+i;
          var qid = "#quantity"+i;
          var uid = "#unit"+i;
          var item = $(iid).val();
          var quantity = $(qid).val();
          var unit = $(uid).val();

          var attrset = {}
          attrset["item"] = item;
          attrset["quantity"] = quantity;
          attrset["unit"] = unit;
          itemsarray[i.toString()] = attrset;
        }
          equipment_request["equipment_request_items_attributes"] = itemsarray;
          var envelope = {equipment_request};
          console.log(envelope);
        $.ajax({
          type: "POST",
          url: "/equipment_requests",
          data: envelope,
          success: function(e){
            console.log(e);

            if(e[0]["status"] == "error"){
              var msg = "";
              
              for(i = 0; i<e[0]["error_list"].length;i++){
                msg += e[0]["error_list"][i] +'\n';
              }

              setTimeout(function() {
                swal({
                    title: "Error!",
                    text: msg,
                    type: "error"
                }, function() {
                    // window.location = "<%= new_equipment_request_path %>";
                });
              }, 0);

            }

          }
          
        });
      }
      else{
        setTimeout(function() {
          swal({
              title: "Error!",
              text: "Equipment Items are required!",
              type: "error"
          }, function() {
              // window.location = "<%= new_equipment_request_path %>";
          });
        }, 0);
      }


    });

  });

</script>