<!--breadcrumbs-->
  <!--breadcrumbs-->
<ul class="nav nav-pills nav-justified">
  <li><a href="/userviews">Pending</a></li>
  <li><a href="/leaves">Leave</a></li>
  <li ><a href="/undertimes">Undertime</a></li>
  <li><a href="/overtimes">Overtime</a></li>
  <li class="active"><a href="/offsets">Offset</a></li>
  <li ><a href="/official_businesses">Official Business</a></li>
  <li><a href="/equipment_requests">Equipment</a></li>
</ul>


<hr>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Offsets</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="offsets/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="10%" style="text-align: center">Date Filed</th>
        <th width="10%" style="text-align: center">Date</th>
        <th width="20%" style="text-align: center">Offset Type</th>
        <th width="20%" style="text-align: center">OT Dates/Hours Used</th>
        <th width="20%" style="text-align: center" >Purpose</th>
        <th width="15%" style="text-align: center" >Status</th>
        <th width="5%" colspan="2" style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>
      <% @offsets.each do |off| %>
          <tr>
            <td><%= off.created_at.strftime("%b %d, %Y") %></td>
            <td><%= off.date.strftime("%b %d, %Y")%></td>
            <td><%= off.offset_type %> (<%= off.no_of_hours %> hours)</td>
            <td><ul><% off.offset_overtimes.each do |ot| %>
                  <li><%= Overtime.find(ot.overtime_id).start_date.strftime("%b %d, %Y") %> (<%= ot.hours_used %> hours)</li>
              <% end %>
            </ul></td>
            <td><%= truncate(off.purpose, :length => 30) %></td>
            <td>
              <% if off.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif off.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif off.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif off.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td> <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), offset_path(off) %> </td>
            <% if off.status == 'C' %>
                <td></td>
            <% else %>
                <td> <%= link_to image_tag("trash.png", border: 0, width: 20, height: 20),  off, :confirm => "Are you sure?", :method => :delete  %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @offsets %></div>
    <div align="center"></div>
  </div>
</div>