<div id="error">
</div>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12">
        <h3>
          Offset Application 
          <span class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal"></span> 
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-4" >
            <div class="form-group" id="first">
            <label>Overtime Date</label>
            <input type=text class="form-control picker" id="ot0"/>
            </div>
          </div>

          <div class="col-sm-2" >
            <div class="form-group" id="second">
            <label>Overtime Hours</label>
            <input type=text class="form-control" id="hours_ot0"/>
            </div>

            <div class="form-group">
              <label>Total:</label>
              <input type="text" class="form-control" readonly="readonly" id="total">
            </div>

          </div>

          <div class="col-sm-1" >
            <div class="form-group" id="fourth">
              <label>Delete</label><br>
              <input type=button class="btn btn-danger" id="delete0" value="x" disabled style="visibility:hidden">
            </div>
          </div>

          <div class="col-sm-2" >
            <div class="form-group" id="third">
              <input type=hidden class="form-control" id="hidden0"/>
            </div>
          </div>

          <div class="col-sm-3" id="buttondiv" style="text-align: right ">
            <div class="form-group">
            <button type="submit" class="btn btn-success" id="add_row">+ Add Date</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Offset Date</label>
              <input type="text" class="form-control picker" id="date">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Offset Type</label>
              <select class="form-control" id="type" disabled>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
          <div class="form-group">
            <label>Purpose</label>
            <textarea class="form-control" rows="5" id="purpose"></textarea>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
          <div class="form-group">
            <label>Remark</label>
            <textarea class="form-control" id="remark"></textarea>
          </div>
          </div>
        </div>

        <div style="text-align:right">
          <button class="btn btn-success" id="submit">Submit</button>
          <a href="/offsets"><button class="btn btn-danger">Cancel</button></a>
        </div>

      </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Offset Guidelines</h4>
      </div>
      <div class="modal-body">
        <table>
        <th>Required offset hours:</th>
        <tr>
          <td>Half day: 4 hours overtime</td>
        </tr>
        <tr>
          <td>Monday to Thursday: 9 hours overtime</td>
        </tr>
        <tr>
          <td>Friday: 8 hours overtime</td>
        </tr>
        </table>

        <br>
        <p>
          <b>Note:</b>
          <br>No. of hours exceeding 9 will be forfeited.
        </p>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



    <script>
      var count = 0;
      $(function () {
        $('.picker').datetimepicker({
          format: 'L',
          format: 'DD/MM/YYYY',
          useCurrent: false,
        });

        $(document).on('click','[id^=delete]', function(){
          //on click of delete button
          var index = $(this).attr('id').split("delete");
          var delindex = "[id$='"+index[1]+"']";
          $(delindex).remove();
          totalHours();
        });

        $(document).on('dp.change','[id^=ot]', function(e){
          var otdate = $(this).val();
          var envelope = {"start_date":otdate};
          var index = $(this).attr('id').split("ot");

          $.ajax({
            type: "GET",
            url: "/get_ot",
            data: envelope,
            dataType: "json",
            success: function(data){
              var flag = true;

              var ot_list = $('[id^=ot]');

              for(i = 0; i < ot_list.length; i++){
                if(ot_list[i].id != e.target.id ){
                  if(ot_list[i].value == e.target.value){
                    flag = false;
                    swal("Date is already selected!");
                    $("[id$='"+index[1]+"']").remove();
                    totalHours();
                  }
                }
              }

              if(flag){
                var hidden = "#hidden"+index[1];
                var hours_ot = "#hours_ot"+index[1];
                $(hours_ot).val(JSON.stringify(data["no_of_hours"]));
                $(hidden).val(JSON.stringify(data["id"]));
                totalHours();
              }

            },
            error: function(e){
              swal("No pending Overtime Request on that date");
              var hours_ot = "#hours_ot"+index[1];
              var ot =  "#ot"+index[1];
              $(hours_ot).val(0);
              totalHours();
            }
          });

        });

      });

      $(document).ready(function(){

        //on click of add button
        $('#add_row').click(function(){
          count+= 1;
          var ot='ot'+count;
          var oth='hours_ot'+count;
          var hidden='hidden'+count;
          var d='delete'+count;

          var margin = 'margin-top:5px';
          
          $('<input type=text class="form-control picker" />').attr("id",ot).attr("style", margin).appendTo("#first");
          $('<input type=text class="form-control" />').attr("id",oth).attr("style", margin).appendTo("#second");
          $('<input type=hidden class="form-control" />').attr("id",hidden).attr("style", margin).appendTo("#third");
          $('<input type=button class="btn btn-danger" value="x">').attr("id",d).attr("style", margin).appendTo("#fourth");

          $('.picker').datetimepicker({
            format: 'L',
            format: 'DD/MM/YYYY',
            useCurrent: false
          });
        });

        //on click of submit button
        $('#submit').click(function(){
          $("#error").html('');

          var offset = {};
          var date = $("#date").val();
          var purpose = $("#purpose").val();
          var remark = $("#remark").val();
          var type = $("#type").val();
          offset["date"] = date;
          offset["purpose"] = purpose;
          offset["remark"] = remark;
          offset["type"] = type;
          var otsarray = {};

          for(i=0; i<=count; i++) {
            //creates an object and sends it to controller via ajax
            var hid = "#hidden" + i;
            var hidden = $(hid).val();
            otsarray[i.toString()] = hidden;
          }

          offset["ot_ids"] = otsarray;
          var envelope = {offset};

            $.ajax({
              type: "POST",
              url: "/offsets",
              data: envelope,
              success: function(e){
                console.log(e);
                if(e[0]["status"] == "error"){
                  var msg = "";
                  
                  for(i = 0; i<e[0]["error_list"].length;i++){
                    msg += e[0]["error_list"][i] +'\n';
                  }

                  setTimeout(function() {
                    swal({
                        title: "Error!",
                        text: msg,
                        type: "error"
                    }, function() {
                        // window.location = "<%= new_offset_path %>";
                    });
                  }, 0);

                }
              }
              // ,error: function(e){
              //   $("#error").append('<div class="alert alert-danger"><strong>Error</strong><ul><li>'+ e.statusText + '</li></ul></div>');
              // }
            });
        });
      });


      function totalHours() {
        //get total ot hours
        var totalhours = 0;
        for(i=0; i<=count; i++){
          var hours_ot_count = "#hours_ot"+i;
          var string = $(hours_ot_count).val();
          if (string==null){}
          else {
            totalhours += parseInt(string);
          }
        }
        $("#total").val(totalhours);
        $('#type').html("");
        $('#type').prop("disabled", true);
        //change content of select
        if (totalhours>=9){
          $('#type').append($("<option>Whole Day Mon-Thurs</option>"));
          $('#type').append($("<option>Whole Day Friday</option>"));
          $('#type').append($("<option>Half Day AM</option>"));
          $('#type').append($("<option>Half Day PM</option>"));
          $('#type').prop("disabled", false);
        }
        else if (totalhours>=8){
          $('#type').append($("<option>Whole Day Friday</option>"));
          $('#type').append($("<option>Half Day AM</option>"));
          $('#type').append($("<option>Half Day PM</option>"));
          $('#type').prop("disabled", false);
        }
        else if (totalhours>=4){
          $('#type').append($("<option>Half Day AM</option>"));
          $('#type').append($("<option>Half Day PM</option>"));
          $('#type').prop("disabled", false);
        }
      }
    </script>
