<%= bootstrap_form_for @off do |f| %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Offset Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", offsets_path, :class=> "btn btn-default" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-4" >
            <div class="form-group" id="first">
              <label>Overtime Date</label>
              <% @off.offset_overtimes.each do |ot| %>
                  <input class="form-control" placeholder="<%= Overtime.find(ot.overtime_id).start_date.strftime("%b %d, %Y")  %>" readonly>
              <% end %>
            </div>
          </div>

          <div class="col-sm-2" >
            <div class="form-group" id="second">
              <label>Hours Used</label>
              <% @off.offset_overtimes.each do |ot| %>
                  <input class="form-control" placeholder="<%= ot.hours_used %>" readonly>
              <% end %>
              <div><input class="form-control" id="total" placeholder="<%= @off.no_of_hours %>" readonly></div>
            </div>
          </div>
      </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Offset Date</label>
              <input class="form-control" placeholder="<%= @off.date.strftime("%b %d, %Y") %>" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <%= f.text_field :offset_type, :readonly => true%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.text_area :purpose, :rows=>5, :readonly => true%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.text_area :remark, :readonly => true%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
            <% if @off.status == 'P' %>
                <span class="label label-warning lg">Pending</span>
            <% elsif @off.status == 'C' %>
                <span class="label label-default">Cancelled</span>
            <% elsif @off.status =='A' %>
                <span class="label label-success">Approved</span> by <%= Employee.find(@off.reviewed_by).firstlastname %>
            <% elsif @off.status =='D' %>
                <span class="label label-danger">Denied</span> by <%= Employee.find(@off.reviewed_by).firstlastname %>
            <% end %>
          </div>
        </div>

        <div style="text-align:right">
          <!--<button type="submit" class="btn btn-success">Approve</button>-->
          <% if @off.status != 'C' %>
              <td><%= link_to "Cancel", @off, :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %></td>
          <% end %>
        </div>

      </div>
    </div>

<% end %>
