<%= form_tag(review_multiple_official_businesses_path, method: :put) do%>
<!--breadcrumbs-->
  <!--breadcrumbs-->
    <ul class="nav nav-pills nav-justified">
      <li ><a href="/managerviews">Pending</a></li>
      <li><a href="/review_leaves">Leave</a></li>
      <li ><a href="/review_undertimes">Undertime</a></li>
      <li><a href="/review_overtimes">Overtime</a></li>
      <li ><a href="/review_offsets">Offset</a></li>
      <li class="active"><a href="/review_official_businesses">Official Business</a></li>
      <li><a href="/review_equipment_requests">Equipment</a></li>
    </ul>

    <hr>

    <div class="row" style="margin-bottom: 10px">
      <div class="col-sm-6"><h3>Review Official Businesses</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <%= submit_tag "Approve", :class => "btn btn-success" %>
        <%= submit_tag "Deny", :class => "btn btn-danger" %>
        <input type="checkbox" value="" id="checkall"> Check All
      </div>
    </div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="5%"  style="text-align: center"></th>
        <th width="10%" style="text-align: center">Date Filed</th>
        <th width="10%" style="text-align: center">Employee</th>
        <th width="20%" style="text-align: center">Date/Time</th>
        <th width="20%" style="text-align: center">Client</th>
        <th width="20%" style="text-align: center" >Reason</th>
        <th width="10%" style="text-align: center" >Status</th>
        <th width="5%" style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>
      <% @obs.each do |ob| %>
          <tr>
            <td><% if ob.status == 'P' %>
                  <%= check_box_tag "ob_ids[]", ob.id %>
              <% end %></td>
            <td><%= ob.created_at.strftime("%b %d, %Y") %></td>
            <td><%= Employee.find(ob.employee_id).firstlastname %></td>
            <td><%= ob.start_date.strftime("%b %d, %Y From %l:%M %p") + " To " + ob.end_date.strftime("%l:%M %p") %></td>
            <td><%= ob.client %></td>
            <td><%= truncate(ob.purpose, :length => 30) %></td>
            <td>
              <% if ob.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif ob.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif ob.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif ob.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td> <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_official_business_path(ob) %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @obs %></div>
  </div>
</div>
<% end %>


<script>
  $(document).ready(function(){
    $("#checkall").change(function(){
      $("input:checkbox").prop("checked",
          $(this).prop("checked"));
    });
  });
</script>
