<%= form_tag(review_multiple_equipment_requests_path, method: :put) do%>
<!--breadcrumbs-->
  <!--breadcrumbs-->
    <ul class="nav nav-pills nav-justified">
      <li ><a href="/managerviews">Pending</a></li>
      <li ><a href="/review_leaves">Leave</a></li>
      <li><a href="/review_undertimes">Undertime</a></li>
      <li><a href="/review_overtimes">Overtime</a></li>
      <li><a href="/review_offsets">Offset</a></li>
      <li><a href="/review_official_businesses">Official Business</a></li>
      <li class="active"><a href="/review_equipment_requests">Equipment</a></li>
    </ul>

    <hr>

    <div class="row" style="margin-bottom: 10px">
      <div class="col-sm-6"><h3>Review Equipment Requests</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <%= submit_tag "Approve", :class => "btn btn-success" %>
        <%= submit_tag "Deny", :class => "btn btn-danger" %>
        <input type="checkbox" value="" id="checkall"> Check All
      </div>
    </div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="10"  style="text-align: center"></th>
        <th width="10%" style="text-align: center">Date Filed</th>
        <th width="20%" style="text-align: center">Employee</th>
        <th width="15%" style="text-align: center">Delivery Date</th>
        <th width="20%" style="text-align: center">Items</th>
        <th width="15%" style="text-align: center" >Purpose</th>
        <th width="5%" style="text-align: center" >Status</th>
        <th width="5%" style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>
      <% @ers.each do |er| %>
          <tr>
            <td><% if er.status == 'P' %>
                  <%= check_box_tag "er_ids[]", er.id %>
              <% end %>
            </td>
            <td><%= er.created_at.strftime("%b %d, %Y") %></td>
            <td><%= Employee.find(er.employee_id).firstlastname %></td>
            <td><%= er.target_delivery_date.strftime("%b %d, %Y")%></td>
            <td><ul><% er.equipment_request_items.each do |item| %>
                  <li><%= item.item %> -
                    <% if item.quantity%1!=0 %>
                        <%= item.quantity %>
                    <% else %>
                        <%= item.quantity %>
                    <% end %>
                    <%= item.unit %></li>
                  <% end %>
                  </ul></td>
            <td><%= truncate(er.purpose, :length => 30) %></td>
            <td>
              <% if er.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif er.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif er.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif er.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td> <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_equipment_request_path(er) %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @ers %></div>
  </div>
</div>
<% end %>

<script>
  $(document).ready(function(){
    $("#checkall").change(function(){
      $("input:checkbox").prop("checked",
          $(this).prop("checked"));
    });
  });
</script>
