<%= form_tag(review_multiple_overtimes_path, method: :put) do%>
<!--breadcrumbs-->
  <!--breadcrumbs-->
    <ul class="nav nav-pills nav-justified">
      <li ><a href="/managerviews">Pending</a></li>
      <li><a href="/review_leaves">Leave</a></li>
      <li ><a href="/review_undertimes">Undertime</a></li>
      <li class="active"><a href="/review_overtimes">Overtime</a></li>
      <li><a href="/review_offsets">Offset</a></li>
      <li><a href="/review_official_businesses">Official Business</a></li>
      <li><a href="/review_equipment_requests">Equipment</a></li>
    </ul>

    <hr>

    <div class="row" style="margin-bottom: 10px">
      <div class="col-sm-6"><h3>Review Overtimes</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <%= submit_tag "Approve", :class => "btn btn-success" %>
        <%= submit_tag "Deny", :class => "btn btn-danger" %>
        <input type="checkbox" value="" id="checkall"> Check All
      </div>
    </div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="5%"  style="text-align: center"></th>
        <th width="10%" style="text-align: center">Date Filed</th>
        <th width="15%" style="text-align: center">Employee</th>
        <th width="20%" style="text-align: center">Overtime Date/Time</th>
        <th width="10%" style="text-align: center">Type</th>
        <th width="10%" style="text-align: center">Hours</th>
        <th width="15%" style="text-align: center" >Expected Output</th>
        <th width="10%" style="text-align: center" >Status</th>
        <th width="5%" style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>
      <% @overtimes.each do |ot| %>
          <tr>
            <td><% if ot.status == 'P' %>
                  <%= check_box_tag "overtime_ids[]", ot.id %>
              <% end %></td>
            <td><%= ot.created_at.strftime("%b %d, %Y") %></td>
            <td><%= Employee.find(ot.employee_id).firstlastname %></td>
            <td>
              <% if ot.start_date.strftime("%b %d, %Y") == ot.end_date.strftime("%b %d, %Y") %>
              <%= "From " + ot.start_date.strftime("%b %d, %Y %l:%M %p") + " To " + ot.end_date.strftime("%l:%M %p") %>
              <% else %>
              <%= "From " + ot.start_date.strftime("%b %d, %Y %l:%M %p") + " To " + ot.end_date.strftime("%b %d, %Y %l:%M %p") %>
              <% end %>
            </td>
            <td><%= ot.calendar_classification %></td>
            <td><%= ot.no_of_hours %></td>
            <td><%= truncate(ot.expected_output, :length => 30) %></td>
            <td>
              <% if ot.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif ot.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif ot.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif ot.status =='U' %>
                  <span class="label label-default">Used</span>
              <% elsif ot.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td><%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), edit_overtime_path(ot) %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @overtimes %></div>
  </div>
</div>
<% end %>


<script>
  $(document).ready(function(){
    $("#checkall").change(function(){
      $("input:checkbox").prop("checked",
          $(this).prop("checked"));
    });
  });
</script>
