<!--breadcrumbs-->
  <!--breadcrumbs-->

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>My Employees</h3></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="5%" style="text-align: center">No.</th>
        <th width="35%" style="text-align: center">Name</th>
        <th width="30%" style="text-align: center" >Title</th>
        <th width="10%" style="text-align: center" >Status</th>
        <th width="20%" style="text-align: center">Business Unit</th>
      </tr>
      </thead>
      <tbody>
      <% @employees.each do |e| %>
          <tr>
            <td><%= e.employee_no %></td>
            <td><%= link_to  e.last_name + ", " + e.first_name + " " + e.middle_name, profile_path(e) %></td>
            <td><%= e.job_title.try :name %></td>
            <td><%= e.job_status.try :name %></td>
            <td><%= e.business_unit.try :name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>