<!--breadcrumbs-->
  <!--breadcrumbs-->

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Special Days</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="special_days/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="30%" style="text-align: center">Date</th>
        <th width="30%" style="text-align: center">Name</th>
        <th width="30%" style="text-align: center">Type</th>
        <th width="10%" colspan="2" data-field="edit"></th>
      </tr>
      </thead>
      <tbody>
      <% @special_days.each do |sd| %>
          <tr>
            <td><%= sd.date.try(:strftime, "%b %d %Y")%></td>
            <td><%= sd.name %></td>
            <td><%= sd.day_type %></td>
            <td><%= link_to image_tag("pencil.png", border: 0, width: 20, height: 20), edit_special_day_path(sd) %></td>
            <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), sd, :confirm => "Are you sure?", :method => :delete %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>