<%= bootstrap_form_for @special_day do |f| %>

    <% if @special_day.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
        <ul><% @special_day.errors.full_messages.each do |m|%>
          <li><%= m %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Add Special Day</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :date, :class => "datetimepicker"%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :name%>
          </div>
          <div class="col-sm-4">
            <%= f.select :day_type, select_day_type, :label => "Type" %>
          </div>
        </div>
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <%= link_to "Back", special_days_path, :class => "btn btn-danger"%>
        </div>
      </div>
    </div>

<% end %>


<script type="text/javascript">
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'L',
      format: 'DD/MM/YYYY',
      useCurrent: false
    });
  });
</script>