<!--breadcrumbs-->
  <!--breadcrumbs-->

<ul class="nav nav-pills nav-justified">
  <li><a href="/job_titles">Job Titles</a></li>
  <li class="active"><a href="/job_levels">Job Levels</a></li>
  <li><a href="/job_statuses">Job Statuses</a></li>
</ul>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Job Levels</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="job_levels/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="10%" style="text-align: center">ID</th>
        <th width="20%" style="text-align: center">Rank</th>
        <th width="30%" style="text-align: center">Level</th>
        <th width="30%" style="text-align: center">Grade</th>
        <th width="10%" colspan="2" data-field="edit"></th>
      </tr>
      </thead>
      <tbody>
      <% @job_levels.each do |jl| %>
          <tr>
            <td><%= jl.id %></td>
            <td><%= jl.rank %></td>
            <td><%= jl.level %></td>
            <td><%= jl.grade %></td>
            <td><%= link_to image_tag("pencil.png", border: 0, width: 20, height: 20), edit_job_level_path(jl) %></td>
            <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), jl, :confirm => "Are you sure?", :method => :delete %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>