<%= bootstrap_form_for @job_level do |f| %>

    <% if @job_level.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
        <ul><% @job_level.errors.full_messages.each do |m|%>
          <li><%= m %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Create Job Level</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :rank%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :grade%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :level%>
          </div>
        </div>
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <%= link_to "Back", job_levels_path, :class => "btn btn-danger"%>
        </div>
      </div>
    </div>

<% end %>