<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @employee.firstlastname  %>,</p>

    <p>
    	Your leave application on <%= @leave.start_date.strftime("%b %d, %Y") %> to <%= @leave.end_date.strftime("%b %d, %Y") %> has been <%= @status %> by <%= @reviewed_by.firstlastname %>. <br>
			Click <a href="http://iems-beta.iripple.net<%= leafe_path(@leave) %>">here</a> to login to iEMS and check the details.
		</p> 

    <p>
    	Regards,<br> 
			iEMS Administrator
		</p>

  </body>
</html>