<%= form_tag(email_leave_url(@leave), :method => :put) do %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h2>Leave Details</h2></div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <%= hidden_field_tag(:reviewed_by, @approver_id) %>
        <%= submit_tag "Approve", :class => "btn btn-default" %>
        <%= submit_tag "Deny", :class => "btn btn-default" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Employee: </label>
              <%= Employee.find(@leave.employee_id).firstlastname %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date: </label>
              <%= @leave.start_date.strftime("%b %d, %Y") %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date: </label>
              <%= @leave.end_date.strftime("%b %d, %Y") %>
            </div>
          </div>
          <div class="col-sm-4">
            <label>No.of Days: </label>
            <%= @leave.no_of_days %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label>Leave Type</label>
            <%= @leave.leave_type %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Reason: </label>
              <%= @leave.reason %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Remarks: </label>
              <%= @leave.remark %>
            </div>
          </div>
        </div>

      </div>
    </div>
<% end %>