<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @employee.firstlastname  %>,</p>

    <p>
    	Your Official Business application on <%= @ob.start_date.strftime("%b %d, %Y %l:%M %p") %> to <%= @ob.end_date.strftime("%b %d, %Y %l:%M %p") %> has been <%= @status %> by <%= @reviewed_by.firstlastname %>. <br>
			Click <a href="http://iems-beta.iripple.net<%= official_business_path(@ob) %>">here</a> to login to iEMS and check the details.
		</p> 

    <p>
    	Regards,<br> 
			iEMS Administrator
		</p>

  </body>
</html>