<%= form_tag(email_ob_url(@ob), :method => :put) do %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h2>Official Business Details</h2></div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <%= hidden_field_tag(:reviewed_by, @approver_id) %>
        <%= submit_tag "Approve", :class => "btn btn-default" %>
        <%= submit_tag "Deny", :class => "btn btn-default" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Employee: </label>
              <%= Employee.find(@ob.employee_id).firstlastname %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date: </label>
              <%= @ob.start_date.strftime("%b %d, %Y %l:%M %p")%>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date: </label>
              <%= @ob.start_date.strftime("%b %d, %Y %l:%M %p") %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Purpose </label>
              <%= @ob.purpose %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Remarks: </label>
              <%= @ob.remark %>
            </div>
          </div>
        </div>

      </div>
    </div>
<% end %>