<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @employee.firstlastname  %>,</p>

    <p>
    	Your Offset application on <%= @off.date.strftime("%b %d, %Y %l:%M %p") %> has been <%= @status %> by <%= @reviewed_by.firstlastname %>. <br>
			Click <a href="http://iems-beta.iripple.net<%= offset_path(@off) %>">here</a> to login to iEMS and check the details.
		</p> 

    <p>
    	Regards,<br> 
			iEMS Administrator
		</p>

  </body>
</html>