<%= form_tag(email_overtime_url(@ot), :method => :put) do %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h2>Overtime Details</h2></div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <%= hidden_field_tag(:reviewed_by, @approver_id) %>
        <%= submit_tag "Approve", :class => "btn btn-default" %>
        <%= submit_tag "Deny", :class => "btn btn-default" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Employee: </label>
              <%= Employee.find(@ot.employee_id).firstlastname %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date: </label>
              <%= @ot.start_date.strftime("%b %d, %Y %l:%M %p") %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date: </label>
              <%= @ot.end_date.strftime("%b %d, %Y %l:%M %p") %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">No of Hours: </label>
              <%= @ot.no_of_hours %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Expected Output: </label>
              <%= @ot.expected_output %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Remarks: </label>
              <%= @ot.remark %>
            </div>
          </div>
        </div>

      </div>
    </div>
<% end %>