<%= form_tag(email_undertime_url(@undertime), :method => :put) do %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h2>Undertime Details</h2></div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <%= hidden_field_tag(:reviewed_by, @approver_id) %>
        <%= submit_tag "Approve", :class => "btn btn-default" %>
        <%= submit_tag "Deny", :class => "btn btn-default" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Employee: </label>
              <%= Employee.find(@undertime.employee_id).firstlastname %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Undertime Date and Time: </label>
              <%= @undertime.date.strftime("%b %d %l:%M %p") %>
            </div>
          </div>
          <div class="col-sm-4">
            <label>Nature: </label>
            <%= @undertime.nature %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Reason: </label>
              <%= @undertime.reason %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Remarks: </label>
              <%= @undertime.remark %>
            </div>
          </div>
        </div>

      </div>
    </div>
<% end %>