<%= bootstrap_form_for @job_title do |f| %>

    <% if @job_title.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @job_title.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Edit Job Title</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_field :name%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :description, :rows=>5%>
          </div>
        </div>
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <%= link_to "Back", job_titles_path, :class => "btn btn-danger"%>
        </div>
      </div>
    </div>

<% end %>