<%= form_tag(@leave, method: :put) do%>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Leave Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", review_leaves_path, :class=> "btn btn-default" %>
      </div>
    </div>

    <% if @leave.reviewed_by.nil? && @leave.status!="C" %>
    <div class="row">
      <div class="col-sm-6" style="margin-bottom: 20px">
        <%= submit_tag "Approve", :class => "btn btn-success" %>
        <%= submit_tag "Deny", :class => "btn btn-danger" %>
      </div>
    </div>
    <% end %>

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Employee</label>
              <input class="form-control" placeholder="<%= Employee.find(@leave.employee_id).firstlastname %>" readonly>
            </div>
          </div>
          </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date</label>
              <input class="form-control" placeholder="<%= @leave.start_date.strftime("%b %d, %Y") %>" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date</label>
              <input class="form-control" placeholder="<%= @leave.end_date.strftime("%b %d, %Y") %>" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <label>No.of Days</label>
            <input class="form-control" placeholder="<%= @leave.no_of_days %>" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label>Leave Type</label>
            <input class="form-control" placeholder="<%= @leave.leave_type %>" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Reason</label>
              <textarea class="form-control" rows="5" readonly="readonly"><%= @leave.reason %></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
          <div class="form-group">
            <label for="comment">Remarks</label>
            <textarea class="form-control" readonly="readonly"><%= @leave.remark %></textarea>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
            <% if @leave.status == 'P' %>
                <span class="label label-warning lg">Pending</span>
            <% elsif @leave.status == 'C' %>
                <span class="label label-default">Cancelled</span>
            <% elsif @leave.status =='A' %>
                <span class="label label-success">Approved</span> by <%=  Employee.find(@leave.reviewed_by).firstlastname  %>
            <% elsif @leave.status =='D' %>
                <span class="label label-danger">Denied</span> by <%= Employee.find(@leave.reviewed_by).firstlastname %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>