<!--breadcrumbs-->
  <!--breadcrumbs-->
<ul class="nav nav-pills nav-justified">
  <li><a href="/userviews">Pending</a></li>
  <li class="active"><a href="/leaves">Leave</a></li>
  <li><a href="/undertimes">Undertime</a></li>
  <li><a href="/overtimes">Overtime</a></li>
  <li><a href="/offsets">Offset</a></li>
  <li><a href="/official_businesses">Official Business</a></li>
  <li><a href="/equipment_requests">Equipment</a></li>
</ul>

<hr>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Leave Requests</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="leaves/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="15%" style="text-align: center">Date Filed</th>
        <th width="20%" style="text-align: center">Inclusive Dates</th>
        <th width="10%" style="text-align: center">Days</th>
        <th width="10%" style="text-align: center">Type</th>
        <th width="30%" style="text-align: center" >Reason</th>
        <th width="10%" style="text-align: center" >Status</th>
        <th width="5%" colspan="2" style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>

      <% @leaves.each do |lv| %>
          <tr>
            <td><%= lv.created_at.strftime("%b %d, %Y") %></td>
            <td>
              <% if lv.start_date == lv.end_date %>
                  <%= lv.start_date.strftime("%b %d, %Y") %>
              <% else %>
                  <%= "From " + lv.start_date.strftime("%b %d, %Y") + " To " + lv.end_date.strftime("%b %d, %Y") %>
              <% end %>
            </td>
            <td>
            <% if lv.no_of_days%1!=0 %>
                  <%= lv.no_of_days %>
            <% else %>
                  <%= lv.no_of_days %>
            <% end %>
            </td>
            <td><%= lv.leave_type %></td>
            <td><%= truncate(lv.reason, :length => 30 )%></td>
            <td>
              <% if lv.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif lv.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif lv.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif lv.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td>     <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), leafe_path(lv) %> </td>
            <% require 'date' %>
            <% if lv.status == 'A' and Date.today > (lv.start_date-1)%>
                <td></td>
            <% elsif lv.status != 'C' %>
                <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), lv, :method => :delete, :confirm => "Are you sure?"  %></td>
            <% else%>
                <td></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @leaves %></div>
  </div>
</div>
