<%= bootstrap_form_for @leave do |f| %>


    <% if @leave.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @leave.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Leave Application</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
        <label>Sick Leave Balance</label>
        <input class="form-control" placeholder="<%= current_user.sick_leave_balance %>" readonly>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
        <label>Vacation Leave Balance</label>
        <input class="form-control" placeholder="<%= current_user.vacation_leave_balance %>" readonly>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :start_date, :label => "Start Date", :class => "form-control datetimepicker", :id => "start" %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :end_date, :label => "End Date", :class => "form-control datetimepicker", :id => "end", :disabled=>true %>
          </div>
          <div class="col-sm-4" id="half_day" style="display:none">
            <div class="checkbox">
              <label><input type="checkbox" id="hd_checkbox" value=""><b>Half Day</b></label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.hidden_field :no_of_days, :label => "No. of Days", :id => "no_of_days" %>
            <%= f.select :leave_type, select_leave_type%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :reason, :rows=>5%>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :remark%>
          </div>
        </div>
        
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Submit</button>
          <a href="/leaves"><button class="btn btn-danger">Cancel</button></a>
        </div>
      </div>
    </div>
<% end %>


<script type="text/javascript">

  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'L',
      format: 'DD/MM/YYYY',
      useCurrent: false,
      daysOfWeekDisabled: [0, 6]
    });
    $('#end').datetimepicker({
      useCurrent: false
    });
    $("#start").on("dp.change", function (e) {
      $('#end').data("DateTimePicker").minDate(e.date);

      if($("#start").val() == $("#end").val())
        $("#half_day").show();
      else{
        $("#hd_checkbox").removeAttr('checked');
        $("#half_day").hide();
      }
      $("#end").prop("disabled", false);

      if($("#start").val() > $("#end").val()){
        $("#end").val($("#start").val());
        $("#half_day").show();
      }
    });

    $("#end").on("dp.change", function(e){
      if($("#start").val() == $("#end").val())
        $("#half_day").show();
      else{
        $("#hd_checkbox").removeAttr('checked');
        $("#half_day").hide();
      }
    });
  });

  //if checkbox is checked, no of days is enddate-startdate+0.5
  $('input[type=checkbox]').click(function () {
    if (!$('input[type=checkbox]').is(':checked')) {
      $('#no_of_days').val("");
    }
    else{
      $('#no_of_days').val(parseFloat(0.5));
    }
  });
</script>