<%= bootstrap_form_for @leave do |f| %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Leave Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", leaves_path, :class=>"btn btn-default" %>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date</label>
              <input class="form-control" placeholder="<%= @leave.start_date.strftime("%b %d, %Y") %>" disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date</label>
              <input class="form-control" placeholder="<%= @leave.end_date.strftime("%b %d, %Y") %>" disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :no_of_days, :label => "No. of Days", :disabled => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :leave_type, :disabled => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :reason, :rows=>5, :disabled => true %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :remark, :disabled => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
          <% if @leave.status == 'P' %>
              <span class="label label-warning lg">Pending</span>
          <% elsif @leave.status == 'C' %>
              <span class="label label-default">Cancelled</span>
          <% elsif @leave.status =='A' %>
              <span class="label label-success">Approved</span> by <%=  Employee.find(@leave.reviewed_by).firstlastname  %>
          <% elsif @leave.status =='D' %>
              <span class="label label-danger">Denied</span> by <%= Employee.find(@leave.reviewed_by).firstlastname %>
          <% end %>
          </div>
        </div>
        <div style="text-align:right">
          
          <% require 'date' %>
          <% if @leave.status == 'A' and Date.today > (@leave.start_date)%>
          <td></td>
          <% elsif @leave.status != 'C' %>
              <td><%= link_to "Cancel", @leave, :confirm => "Are you sure?", :method => :delete, :class=>"btn btn-danger" %></td>
          <% end %>

         </div>

      </div>
    </div>
<% end %>


<script type="text/javascript">
  //set min date of start to last cutoff
  $(function () {
    $('.datetimepicker').datetimepicker({
      format: 'L'
    });
    $('#end').datetimepicker({
      useCurrent: false
    });
    $("#start").on("dp.change", function (e) {
      $('#end').data("DateTimePicker").minDate(e.date);
    });
    $("#end").on("dp.change", function (e) {
      $('#start').data("DateTimePicker").maxDate(e.date);
    });
  });

  //if checkbox is checked, no of days is enddate-startdate+0.5
  $('input[type=checkbox]').click(function () {
    if (!$('input[type=checkbox]').is(':checked')) {
      $('#no_of_days').val("");
    }
    else{
      $('#no_of_days').val(parseFloat(0.5));
    }
  });
</script>