<%= form_tag(@undertime, method: :put) do%>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Undertime Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", review_undertimes_path, :class => "btn btn-default" %>
      </div>
    </div>

    <% if @undertime.reviewed_by.nil? && @undertime.status!="C" %>
        <div class="row">
          <div class="col-sm-6" style="margin-bottom: 20px">
            <%= submit_tag "Approve", :class => "btn btn-success" %>
            <%= submit_tag "Deny", :class => "btn btn-danger" %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Employee</label>
              <input class="form-control" placeholder="<%= Employee.find(@undertime.employee_id).firstlastname %>" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Date and Time of Departure</label>
              <input class="form-control" placeholder="<%= @undertime.date.strftime("%b %d, %Y %l:%M %p") %>" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Nature</label>
              <input class="form-control" placeholder="<%= @undertime.nature %>" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Reason</label>
              <textarea class="form-control" rows="5" readonly="readonly"><%= @undertime.reason %></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Remarks</label>
              <textarea class="form-control" readonly="readonly"><%= @undertime.remark %></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
            <% if @undertime.status == 'P' %>
                <span class="label label-warning lg">Pending</span>
            <% elsif @undertime.status == 'C' %>
                <span class="label label-default">Cancelled</span>
            <% elsif @undertime.status =='A' %>
                <span class="label label-success">Approved</span> by <%= Employee.find(@undertime.reviewed_by).firstlastname %>
            <% elsif @undertime.status =='D' %>
                <span class="label label-danger">Denied</span> by <%= Employee.find(@undertime.reviewed_by).firstlastname %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
<% end %>
