<%= bootstrap_form_for @undertime do |f| %>

    <% if @undertime.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @undertime.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Undertime Application</h3></div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :date, :label => "Date and Time of Departure", :class => "form-control datetimepicker", :id => "date" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.label :nature%>
            <%= f.radio_button :nature, "Emergency", label: "Emergency", checked: true %>
            <%= f.radio_button :nature, "Anticipated", label: "Anticipated" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :reason, :rows=>5%>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :remark%>
          </div>
        </div>

        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Submit</button>
          <a href="/undertimes"><button class="btn btn-danger">Cancel</button></a>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">


  $(function () {
    $('#date').datetimepicker({
      daysOfWeekDisabled: [0, 6],
      useCurrent : false,
      format: 'DD/MM/YYYY h:mm A',
    });

    var today = new Date();
    if(today.getDay() != 5){
      $('#date').data('DateTimePicker').date(new Date(new Date().setHours(16, 30)));
    }
    else{
      $('#date').data('DateTimePicker').date(new Date(new Date().setHours(15, 30)));
    }

  });
</script>