<%= bootstrap_form_for @undertime do |f| %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Undertime Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", undertimes_path, :class=> "btn btn-default" %>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Date and Time of Departure</label>
              <input class="form-control" placeholder="<%= @undertime.date.strftime("%b %d, %Y %l:%M %p") %>" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_field :nature, :disabled => true %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :reason, :rows=>5, :disabled => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :remark, :disabled => true %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
            <% if @undertime.status == 'P' %>
                <span class="label label-warning lg">Pending</span>
            <% elsif @undertime.status == 'C' %>
                <span class="label label-default">Cancelled</span>
            <% elsif @undertime.status =='A' %>
                <span class="label label-success">Approved</span> by <%= Employee.find(@undertime.reviewed_by).firstlastname %>
            <% elsif @undertime.status =='D' %>
                <span class="label label-danger">Denied</span> by <%= Employee.find(@undertime.reviewed_by).firstlastname %>
            <% end %>
          </div>
        </div>
        <div style="text-align:right">
          <!--<button type="submit" class="btn btn-success">Approve</button>-->
          <% if @undertime.status != 'C' %>
              <td><%= link_to "Cancel", @undertime, :confirm => "Are you sure?", :method => :delete, :class=>"btn btn-danger" %></td>
          <% end %>
        </div>

      </div>
    </div>
<% end %>
