<%= bootstrap_form_for @emergency_contact, :url => {:action => :update} do |f| %>

    <% if @emergency_contact.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @emergency_contact.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Edit Emergency Contact</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :name%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :relationship%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :home_no%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :mobile_no%>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :office_no%>
          </div>
        </div>
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <% if current_user.id == @employee.id %>
            <a href="/profile/<%=@employee.id%>"><button class="btn btn-danger">Cancel</button></a>
          <% else %>
            <a href="/employees/<%=@employee.id%>/edit"><button class="btn btn-danger">Cancel</button></a>
          <% end %>
        </div>
      </div>
    </div>


<% end %>