<%= form_tag(@ob, method: :put) do%>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Official Business Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", review_official_businesses_path, :class => "btn btn-default" %>
      </div>
    </div>

    <% if @ob.reviewed_by.nil? && @ob.status!="C" %>
        <div class="row">
          <div class="col-sm-6" style="margin-bottom: 20px">
            <%= submit_tag "Approve", :class => "btn btn-success" %>
            <%= submit_tag "Deny", :class => "btn btn-danger" %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Employee</label>
              <input class="form-control" placeholder="<%= Employee.find(@ob.employee_id).firstlastname %>" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date</label>
              <input class="form-control" placeholder="<%= @ob.start_date.strftime("%b %d, %Y %l:%M %p") %>" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date</label>
              <input class="form-control" placeholder="<%= @ob.end_date.strftime("%b %d, %Y %l:%M %p") %>" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Client</label>
              <input class="form-control" readonly="readonly" placeholder="<%= @ob.client %>" >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Purpose</label>
              <textarea class="form-control" rows="5" readonly="readonly"><%= @ob.purpose %></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Remark</label>
              <textarea class="form-control" readonly="readonly"><%= @ob.remark %></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
            <% if @ob.status == 'P' %>
                <span class="label label-warning lg">Pending</span>
            <% elsif @ob.status == 'C' %>
                <span class="label label-default">Cancelled</span>
            <% elsif @ob.status =='A' %>
                <span class="label label-success">Approved</span> by <%= Employee.find(@ob.reviewed_by).firstlastname %>
            <% elsif @ob.status =='D' %>
                <span class="label label-danger">Denied</span> by <%= Employee.find(@ob.reviewed_by).firstlastname %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
<% end %>