<!--breadcrumbs-->
  <!--breadcrumbs-->
<ul class="nav nav-pills nav-justified">
  <li><a href="/userviews">Pending</a></li>
  <li><a href="/leaves">Leave</a></li>
  <li ><a href="/undertimes">Undertime</a></li>
  <li><a href="/overtimes">Overtime</a></li>
  <li><a href="/offsets">Offset</a></li>
  <li class="active"><a href="/official_businesses">Official Business</a></li>
  <li><a href="/equipment_requests">Equipment</a></li>
</ul>


<hr>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Official Business Requests</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="official_businesses/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="20%" style="text-align: center">Date Filed</th>
        <th width="20%" style="text-align: center">Date/Time</th>
        <th width="20%" style="text-align: center">Client</th>
        <th width="20%" style="text-align: center" >Reason</th>
        <th width="15%" style="text-align: center" >Status</th>
        <th width="5%" colspan="2" style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>
      <% @obs.each do |ob| %>
          <tr>
            <td><%= ob.created_at.strftime("%b %d, %Y") %></td>
            <td><%= ob.start_date.strftime("%b %d, %Y From %l:%M %p") + " To " + ob.end_date.strftime("%l:%M %p") %></td>
            <td><%= ob.client %></td>
            <td><%= truncate(ob.purpose, :length => 30) %></td>
            <td>
              <% if ob.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif ob.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif ob.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif ob.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td> <%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), official_business_path(ob) %> </td>
            <% if ob.status == 'C' %>
                <td></td>
            <% else %>
                <td> <%= link_to image_tag("trash.png", border: 0, width: 20, height: 20),  ob, :confirm => "Are you sure?", :method => :delete  %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @obs %></div>
  </div>
</div>