    <% if @ob.errors.any? %>
      <div class="alert alert-danger">
        <strong>Error</strong>
        <ul><% @ob.errors.full_messages.each do |m|%>
              <li><%= m %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Official Business Application</h3></div>
    </div>

  <form name="ob_form" id="ob_form">
    <div class="row">
      <div class="col-sm-12">

        <!-- div block for OB type radio fields -->
        <div class="row">
          <div class="col-sm-12" >
            <div class="form-group">
              <label>Apply OB for:</label>
              <div>
                <label class="radio-inline"><input type="radio" name="dateradio" id="sdayradio" value="single_day" checked="checked">Single Day</label>
                <label class="radio-inline"><input type="radio" name="dateradio" id="mdaysradio" value="multiple_days">Multiple Days</label>
              </div>
            </div>
          </div>
        </div>
        <!-- end div -->

        <!-- div block for single date fields -->
        <div class="row" id="sday">
          <div class="col-sm-4" >
            <div class="form-group">
            <label>Date <span style="color:red">*</span></label>
            <input type=text class="form-control picker" id="ob_date"/>
            </div>
          </div>

          <div class="col-sm-4" >
            <div class="form-group">
            <label>Time Start <span style="color:red">*</span></label>
              <input type=text class="form-control picker" id="ob_time_start"/>
            </div>
          </div>

          <div class="col-sm-4" >
            <div class="form-group">
            <label>Time End <span style="color:red">*</span></label>
            <input type=text class="form-control picker" id="ob_time_end"/>
            </div>
          </div>
        </div>
        <!-- end div -->

        <!-- div block for multiple dates fields -->
        <div class="row" id="mdays" style="display:none;">
          <div class="col-sm-4" >
            <div class="form-group" id="first">
            <label>Start Date <span style="color:red">*</span></label>
            <input type=text class="form-control picker" id="start"/>
            </div>
          </div>

          <div class="col-sm-4" >
            <div class="form-group" id="second">
            <label>End Date <span style="color:red">*</span></label>
            <input type=text class="form-control picker" id="end"/>
            </div>
          </div>

        </div>
        <!-- end div -->

        <!-- div block for client field -->
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Client <span style="color:red">*</span></label>
              <input type="text" class="form-control" id="client">
            </div>
          </div>
        </div>
        <!-- end div -->

        <!-- div block for purpose field -->
        <div class="row">
          <div class="col-sm-12">
          <div class="form-group">
            <label>Purpose <span style="color:red">*</span></label>
            <textarea class="form-control" rows="3" id="purpose"></textarea>
          </div>
          </div>
        </div>
        <!-- end div -->

        <!-- div block for remark field -->
        <div class="row">
          <div class="col-sm-12">
          <div class="form-group">
            <label>Remark</label>
            <textarea class="form-control" id="remark"></textarea>
          </div>
          </div>
        </div>
        <!-- end div -->

        <!-- div block for dynamic multiple datetime -->
        <div class="row" id="mdays_time" style="display:none;">
          <hr>
          <div class="col-sm-4" >
            <label>Date <span style="color:red">*</span></label>
            <div class="form-group" id="mdate_set">  
            </div>

          </div>

          <div class="col-sm-4" >
            <label>Time Start <span style="color:red">*</span></label>
            <div class="form-group" id="mstart_set">
            </div>

          </div>

          <div class="col-sm-4" >
            <label>Time End <span style="color:red">*</span></label>
            <div class="form-group" id="mend_set">
            </div>

          </div>
        </div>
        <!-- end div -->

        <div style="text-align:right">
          <button class="btn btn-success" id="submit">Submit</button>
          <a href="/official_businesses"><button class="btn btn-danger">Cancel</button></a>
        </div>

      </div>
    </div>
  </form>

    <script>
      //JS goes here
      $(document).on('turbolinks:load', function(){
      // $(document).on('ready page:load', function() {

        //global variables
        var count = 0;
        var no_of_days = 0;

        //This function computes for the date difference
        function dayDiff(){
          var first = $('#start').val().split('/');
          var second = $('#end').val().split('/');

          var start = new Date(first[2], first[1]-1, first[0]);
          var end = new Date(second[2], second[1]-1, second[0]);

          //compute for the date difference
          no_of_days = Math.ceil( Math.abs(end.getTime() - start.getTime()) / (1000 * 3600 * 24) );

          var temp = start;
          generateDates(start);

        } //end

        // This function loops through the dates and calls generateDatesMarkup()
        function generateDates(start){
          //reset the dates
          $('#mdate_set').empty();
          $('#mstart_set').empty();
          $('#mend_set').empty();


          var new_date_str ="";

          //show each date
          for(var i = 0; i <= no_of_days; i++){
            if(i == 0){
              new_date_str = start.getDate() + "/" + (new Number(start.getMonth())+1) + "/" + start.getFullYear();
            }
            else{
              start = new Date(start.setDate(start.getDate() + 1));
              new_date_str = start.getDate() + "/" + (new Number(start.getMonth())+1) + "/" + start.getFullYear();
            }
            // console.log(new_date_str);
            generateDatesMarkup(new_date_str);
          }

        } //end

        // This function generates the HTML markup
        function generateDatesMarkup(date){
          count++;
          var d='date'+count;
          var s='stime'+count;
          var e='etime'+count;

          var margin = 'margin-bottom:5px';

          //generate date markup
          $('<input type=text class="form-control" disabled />')
            .attr("id",d)
            .attr("value", date)
            .attr("style", margin)
            .appendTo("#mdate_set");

          //generate start time markup
          $('<input type=text class="form-control picker" />')
            .attr("id", s)
            .attr("style", margin)
            .appendTo("#mstart_set");

          //generate end time markup
          $('<input type=text class="form-control picker" />')
            .attr("id", e)
            .attr("style", margin)
            .appendTo("#mend_set");

          //initialize datetimepicker for start time
          $('#'+s).datetimepicker({
            format: 'LT',
            useCurrent:false,
            defaultDate:moment().hours(8).minutes(30)
          });

          //initialize datetimepicker for end time
          $('#'+e).datetimepicker({
            format: 'LT',
            useCurrent:false,
            defaultDate:moment().hours(18).minutes(30)
          });

          return;
        } // end


        // Toggle for single day or multiple days
        $("#sdayradio").click(function(){
          $('div#sday').show();

          $('div#mdays').hide();
          $('div#mdays_time').hide();
          $('div#mdays').find('input').val('');
          //reset the dates
          $('#mdate_set').empty();
          $('#mstart_set').empty();
          $('#mend_set').empty();

        });

        $("#mdaysradio").click(function(){
          $('div#mdays').show();
          $('div#mdays_time').show();

          $('div#sday').hide();
          $('div#sday').find('input').val('');
        });
        // end of radio toggle functions

        //initialize datepickers
        $('#ob_date').datetimepicker({
          format: 'DD/MM/YYYY',
          useCurrent: false
        });

        $('#start').datetimepicker({
          // format: 'DD/MM/YYYY h:mm A',
          format: 'DD/MM/YYYY',
          useCurrent: false
        });
        $('#end').datetimepicker({
          // format: 'DD/MM/YYYY h:mm A',
          format: 'DD/MM/YYYY',
          useCurrent: false
        });

        $('#ob_time_start').datetimepicker({
          format: 'LT',
          useCurrent:false,
          defaultDate:moment().hours(8).minutes(30)
        });

        $('#ob_time_end').datetimepicker({
          format: 'LT',
          useCurrent:false,
          defaultDate:moment().hours(18).minutes(30)
        });
        //end of initializing datepickers

        //event listener for multiple dates datepicker
        $('#ob_form')
          .on('dp.change', '#start', function(e){
            $('#end').data("DateTimePicker").minDate(e.date);
            dayDiff();
          })

          .on('dp.change', '#end', function(e){
            $('#start').data("DateTimePicker").maxDate(e.date);
            dayDiff();
          });
        //end of event listers


        //on click of submit button
        $('#submit').click(function(event){

          var ob_type = $('input[name="dateradio"]:checked').val();

          //get static field values
          var client = $("#client").val();
          var purpose = $("#purpose").val();
          // var remark = $("#remark").val();
          var remark = "";

          if(ob_type == "single_day"){
            
            var start_date, end_date;

            if( $("#ob_date").val() != "" && ( $("#ob_time_start") != "" || $("#ob_time_end") != "" ) ){
              start_date = $("#ob_date").val() + " " + $("#ob_time_start").val();
              end_date = $("#ob_date").val() + " " + $("#ob_time_end").val();
            } 

            var json = '{'
              + '"official_business":{'
              + '"start_date":' + '"' + start_date + '",'
              + '"end_date":' + '"' + end_date + '",'
              + '"client":' + '"' + client + '",' 
              + '"purpose":' + '"' + purpose + '",' 
              + '"remark":' + '"' + remark + '"' 
              + '}}';

            $.ajax({
              url: '/official_businesses.json',
              type: 'POST',
              contentType: "application/json",

              dataType: 'json',
              data: json,
              success: function(e){
                console.log(e);
                if(e[0]["message"] == "ok")
                  window.location = "<%= official_businesses_path %>"
              },
              error: function(e){
                // console.log(e.responseText);
                var temp = e.responseText;
                temp = temp.replace(/\[/, '');
                temp = temp.replace(/\]/, '');
                temp = temp.replace(/\"/g, '');

                temp = temp.split(',');
                var msg="";
                for(i = 0; i < temp.length; i++){
                  msg += temp[i] + '\n';
                }

                setTimeout(function() {
                    swal({
                        title: "Error!",
                        text: msg,
                        type: "error"
                    }, function() {
                        // window.location = "<%= new_official_business_path %>";
                    });
                }, 0);


              }
            });

            return false;

          }
          else if(ob_type == "multiple_days"){
            // alert(client + " " + purpose + " " + remark);

            var dates = $('input[id^=date]');
            var stimes = $('input[id^=stime]');
            var etimes = $('input[id^=etime]');

            json = '{'
              + '"official_businesses":[';
              
            for(i = 0; i < dates.length; i++){

              if( dates[i].value != "" || stimes[i].value != "" || etimes[i].value != "" ){
                var start_date = dates[i].value + " " + stimes[i].value;
                var end_date = dates[i].value + " " + etimes[i].value;
              }

              json += '{'
                + '"start_date":' + '"' + start_date + '",'
                + '"end_date":' + '"' + end_date + '",'
                + '"client":' + '"' + client + '",' 
                + '"purpose":' + '"' + purpose + '",' 
                + '"remark":' + '"' + remark + '"' ;
                if(i != dates.length-1)
                  json += '},';
                else
                  json += '}';
            }

            json +=  ']}';
            console.log(json);

            $.ajax({
              url: '/official_businesses.json',
              type: 'POST',
              contentType: "application/json",

              dataType: 'json',
              data: json,
              success: function(e){
                console.log(e);
                if(e[0]["message"] == "ok")
                  window.location = "<%= official_businesses_path %>"
              },
              error: function(e){
                console.log(e.responseText);
                var temp = e.responseText;
                temp = temp.replace(/\[/, '');
                temp = temp.replace(/\]/, '');
                temp = temp.replace(/\{/, '');
                temp = temp.replace(/\}/, '');
                temp = temp.replace(/\"/g, '');

                temp = temp.split(',');

                var msg="";
                for(i = 0; i < temp.length; i++){
                  msg += temp[i] + '\n';
                }

                setTimeout(function() {
                    swal({
                        title: "Error!",
                        // text: temp[1],
                        text: msg,
                        type: "error"
                    }, function() {
                        // window.location = "<%= new_official_business_path %>";
                    });
                }, 0);

              }
            });

            return false;
          }

        });

      });
      //end

    </script>