<%= bootstrap_form_for @ob do |f| %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Official Business Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", official_businesses_path, :class=>"btn btn-default" %>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date</label>
              <input class="form-control" placeholder="<%= @ob.start_date.strftime("%b %d, %Y %l:%M %p") %>" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date</label>
              <input class="form-control" placeholder="<%= @ob.end_date.strftime("%b %d, %Y %l:%M %p") %>" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_field :client, :rows=>5, :readonly => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :purpose, :rows=>5, :readonly => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :remark, :readonly => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
            <% if @ob.status == 'P' %>
                <span class="label label-warning lg">Pending</span>
            <% elsif @ob.status == 'C' %>
                <span class="label label-default">Cancelled</span>
            <% elsif @ob.status =='A' %>
                <span class="label label-success">Approved</span> by <%= Employee.find(@ob.reviewed_by).firstlastname %>
            <% elsif @ob.status =='D' %>
                <span class="label label-danger">Denied</span> by <%= Employee.find(@ob.reviewed_by).firstlastname %>
            <% end %>
          </div>
        </div>
        <div style="text-align:right">
          <!--<button type="submit" class="btn btn-success">Approve</button>-->
          <% if @ob.status != 'C' %>
              <td><%= link_to "Cancel", @ob, :confirm => "Are you sure?", :method => :delete, :class=>"btn btn-danger" %></td>
          <% end %>
        </div>

      </div>
    </div>
<% end %>