<%= bootstrap_form_for @business_unit do |f| %>

    <% if @business_unit.errors.any? %>
        <h6>Errors:</h6>
        <ul><% @business_unit.errors.full_messages.each do |m|%>
              <li><%= m %></li>
          <% end %>
        </ul>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Edit Business Unit</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= f.text_field :name%>
        </div>
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <%= link_to "Back", business_units_path, :class => "btn btn-danger"%>
        </div>
      </div>
    </div>

<% end %>