<!--breadcrumbs-->
  <!--breadcrumbs-->

  <div class="row" style="margin-bottom: 20px">
    <div class="col-sm-6"><h3>Business Units</h3></div>
    <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="business_units/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
  </div>

<div class="row">
  <div class="col-sm-12"></div>
</div>

<div class="row">
  <div class="col-sm-12">
      <table class="table table-striped">
        <thead style="background-color: #0059bc; color:white">
        <tr>
          <th width="30%" data-field="id">ID</th>
          <th width="60%" data-field="name">Name</th>
          <th width="10%" colspan="2" data-field="edit"></th>
        </tr>
        </thead>
        <tbody>
        <% @business_units.each do |bu| %>
        <tr>
          <td><%= bu.id %></td>
          <td><%= bu.name %></td>
          <td><%= link_to image_tag("pencil.png", border: 0, width: 20, height: 20), edit_business_unit_path(bu) %></td>
          <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), bu, :confirm => "Are you sure?", :method => :delete %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>