<%= form_tag(@overtime, method: :put) do%>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Overtime Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", review_overtimes_path, :class => "btn btn-default" %>
      </div>
    </div>

    <% if @overtime.reviewed_by.nil? && @overtime.status!="C" && @overtime.status!="U"%>
        <div class="row">
          <div class="col-sm-6" style="margin-bottom: 20px">
            <%= submit_tag "Approve", :class => "btn btn-success" %>
            <%= submit_tag "Deny", :class => "btn btn-danger" %>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Employee</label>
              <input class="form-control" placeholder="<%= Employee.find(@overtime.employee_id).firstlastname %>" readonly>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date</label>
              <input class="form-control" placeholder="<%= @overtime.start_date.strftime("%b %d, %Y %l:%M %p") %>" readonly>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date</label>
              <input class="form-control" placeholder="<%= @overtime.end_date.strftime("%b %d, %Y %l:%M %p") %>" readonly>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Expected Output</label>
              <textarea class="form-control" rows="5" readonly="readonly"><%= @overtime.expected_output %></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="comment">Remarks</label>
              <textarea class="form-control" readonly="readonly"><%= @overtime.remark %></textarea>
            </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
            <% if @overtime.status == 'P' %>
                <span class="label label-warning lg">Pending</span>
            <% elsif @overtime.status == 'C' %>
                <span class="label label-default">Cancelled</span>
            <% elsif @overtime.status =='U' %>
                <span class="label label-default">Used</span>
            <% elsif @overtime.status =='A' %>
                <span class="label label-success">Approved</span> by <%= Employee.find(@overtime.reviewed_by).firstlastname %>
            <% elsif @overtime.status =='D' %>
                <span class="label label-danger">Denied</span> by <%= Employee.find(@overtime.reviewed_by).firstlastname %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
<% end %>
