<!--breadcrumbs-->
  <!--breadcrumbs-->
<ul class="nav nav-pills nav-justified">
  <li><a href="/userviews">Pending</a></li>
  <li><a href="/leaves">Leave</a></li>
  <li ><a href="/undertimes">Undertime</a></li>
  <li class="active"><a href="/overtimes">Overtime</a></li>
  <li><a href="/offsets">Offset</a></li>
  <li><a href="/official_businesses">Official Business</a></li>
  <li><a href="/equipment_requests">Equipment</a></li>
</ul>

<hr>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Overtime Requests</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="overtimes/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" style="text-align: center">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="20%" style="text-align: center">Date Filed</th>
        <th width="20%" style="text-align: center">Overtime Date/Time</th>
        <th width="10%" style="text-align: center">Type
          <button type="button" class="btn-xs btn-default" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-info-sign"></span>
          </button>
        </th>
        <th width="10%" style="text-align: center">Hours</th>
        <th width="20%" style="text-align: center" >Expected Output</th>
        <th width="15%" style="text-align: center" >Status</th>
        <th width="5%" colspan="2" style="text-align: center"></th>
      </tr>
      </thead>
      <tbody>
      <% @overtimes.each do |ot| %>
          <tr>
            <td><%= ot.created_at.strftime("%b %d, %Y") %></td>
            <td>
              <% if ot.start_date.strftime("%b %d, %Y") == ot.end_date.strftime("%b %d, %Y") %>
              <%= "From " + ot.start_date.strftime("%b %d, %Y %l:%M %p") + "\n To " + ot.end_date.strftime("%l:%M %p") %>
              <% else %>
              <%= "From " + ot.start_date.strftime("%b %d, %Y %l:%M %p") + "\n To " + ot.end_date.strftime("%b %d, %Y %l:%M %p") %>
              <% end %>
            </td>
            <td><%= ot.calendar_classification %></td>
            <td><%= ot.no_of_hours %></td>
            <td><%= truncate(ot.expected_output, :length => 30) %></td>
            <td>
              <% if ot.status == 'P' %>
                  <span class="label label-warning">Pending</span>
              <% elsif ot.status == 'C' %>
                  <span class="label label-default">Cancelled</span>
              <% elsif ot.status =='A' %>
                  <span class="label label-success">Approved</span>
              <% elsif ot.status =='U' %>
                  <span class="label label-info">Used</span>
              <% elsif ot.status =='D' %>
                  <span class="label label-danger">Denied</span>
              <% end %>
            </td>
            <td><%= link_to image_tag("folder.png", border: 0, width: 20, height: 20), overtime_path(ot) %> </td>
            <td>
            <% if ot.status == 'C' %>
              <% else %>
                  <%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), ot, :confirm => "Are you sure?", :method => :delete %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div align="center"><%= will_paginate @overtimes %></div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Calendar Day Classification</h4>
      </div>
      <div class="modal-body">
        <p>1. Regular Day</p>
        <p>2. Rest Day/Special Holiday</p>
        <p>3. Special Holiday on Rest Day</p>
        <p>4. Regular Holiday</p>
        <p>5. Regular Holiday on Rest Day</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



