<%= bootstrap_form_for @overtime do |f| %>

    <% if @overtime.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @overtime.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Overtime Application</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :start_date, :label => "Start Date", :class => "form-control datetimepicker", :id => "start", :defdate => @overtime.start_date %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :end_date, :label => "End Date", :class => "form-control datetimepicker", :id => "end", :defdate => @overtime.end_date %>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" id="oneam" name="oneam" value="true"><b>Until 1AM the next day </b>
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-info-sign"></span>
              </button>
            </label></div>

        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :expected_output, :rows=>5%>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :remark%>
          </div>
        </div>

        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Submit</button>
          <a href="/overtimes"><button class="btn btn-danger">Cancel</button></a>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Special Cases for Overtime</h4>
          </div>
          <div class="modal-body">
            <p>If overtime is until 1AM the next day, set end date time to 11:55PM and check the box.</p>
            <p>If overtime is until 2AM and beyond, file another overtime.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

<% end %>

<script>
//calendar-classification is based on first day
$(function () {
  $('.datetimepicker').datetimepicker({
    useCurrent: false,
    format: 'DD/MM/YYYY h:mm A'
  });

  var default_end = (new Date(new Date($('#end').attr("defdate"))));

  $('#start').data('DateTimePicker').date(new Date(new Date($('#start').attr("defdate") ) ) );
  $('#end').data('DateTimePicker').date(new Date(new Date($('#end').attr("defdate"))));

  $('#end').data("DateTimePicker").minDate(new Date(new Date($('#end').attr("defdate"))));

  $("#start").on("dp.change", function (e) {
    $('#end').data("DateTimePicker").minDate(false);
    $('#end').data("DateTimePicker").maxDate(false);
    //if saturday, minimum is 5 hours
    if (e.date.day()==6){
      $('#end').data("DateTimePicker").date(e.date.add(5,"hours"));
    }
    //else, minimum is 2 hours
    else{
      $('#end').data("DateTimePicker").date(e.date.add(2,"hours"));
    }
    $('#end').data("DateTimePicker").minDate(e.date);
    $('#end').data("DateTimePicker").maxDate(e.date.add((((24-e.date.hour())*60)-e.date.minutes()-5),"minutes"));
  });

});


    

</script>


<!--
     var date = new Date();
     date.setDate(date.getDate() + 1);
-->