<%= bootstrap_form_for @overtime do |f| %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-6"><h3>Overtime Details</h3></div>
      <div class="col-sm-6" style="margin-top:15px; text-align: right">
        <%= link_to "Back", overtimes_path, :class => "btn btn-default" %>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Start Date</label>
              <input class="form-control" placeholder="<%= @overtime.start_date.strftime("%b %d, %Y %l:%M %p") %>" disabled>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>End Date</label>
              <input class="form-control" placeholder="<%= @overtime.end_date.strftime("%b %d, %Y %l:%M %p") %>" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :expected_output, :rows=>5, :disabled => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :remark, :disabled => true%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>Status</label>
            <% if @overtime.status == 'P' %>
                <span class="label label-warning lg">Pending</span>
            <% elsif @overtime.status == 'C' %>
                <span class="label label-default">Cancelled</span>
            <% elsif @overtime.status =='U' %>
                <span class="label label-default">Used</span>
            <% elsif @overtime.status =='A' %>
                <span class="label label-success">Approved</span> by <%= Employee.find(@overtime.reviewed_by).firstlastname %>
            <% elsif @overtime.status =='D' %>
                <span class="label label-danger">Denied</span> by <%= Employee.find(@overtime.reviewed_by).firstlastname %>
            <% end %>
          </div>
        </div>
        <div style="text-align:right">
          <!--<button type="submit" class="btn btn-success">Approve</button>-->
          <% if @overtime.status != 'C' %>
              <%= link_to "Cancel", @overtime, :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger" %>
          <% end %>
        </div>

      </div>
    </div>
<% end %>
