<%= bootstrap_form_for @company_info do |f| %>

    <% if @company_info.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
        <ul><% @company_info.errors.full_messages.each do |m|%>
              <li><%= m %></li>
          <% end %>
        </ul>
          </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">

      <!-- <div class="col-sm-12"> -->
        <h3>
          <div class="col-sm-9">
          Company Information 
          </div>
          <div class="col-sm-3" style="text-align: right">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
            Employee Summary
          </button>
          </div>
        </h3>
      <!-- </div> -->

    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
          <%= f.text_field :name%>
          </div>
          <div class="col-sm-6">
            <%= f.time_zone_select :time_zone %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :address%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :phone%>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :zip, :label=>"Zipcode"%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :pagibig%>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :sss, :label=>"SSS"%>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :tin%>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :philhealth%>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Summary</h4>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <th colspan=2>Total number of employees as of <%= Time.now.strftime('%b %d, %Y') %></th>
                  </thead>
                  <tbody>
                    <% @jobstatus.each do |js| %>
                      <tr>
                        <td><%= js.name%> :</td>
                        <td><%= js.employees.count %></td>
                      </tr>
                    <% end %>
                    <br>
                  </tbody>
                </table>

                <p><b>Presently Employed: <%= @total_no - (@resigned + @terminated) %></b></p>
                <p><b>Total Number of Employees: <%= @total_no %></b></p>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>


        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <%= link_to "Back", adminviews_path, :class => "btn btn-danger"%>
        </div>
      </div>
    </div>

<% end %>