<!--breadcrumbs-->
  <!--breadcrumbs-->

<ul class="nav nav-pills nav-justified">
  <li><a href="/job_titles">Job Titles</a></li>
  <li><a href="/job_levels">Job Levels</a></li>
  <li class="active"><a href="/job_statuses">Job Statuses</a></li>
</ul>

<div class="row" style="margin-bottom: 20px">
  <div class="col-sm-6"><h3>Job Status</h3></div>
  <div class="col-sm-6" style="margin-top:15px; text-align: right"> <a href="job_statuses/new"><button type="button" class="btn btn-success"><b>+</b></button></a></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead style="background-color: #0059bc; color:white">
      <tr>
        <th width="30%"data-field="id">ID</th>
        <th width="60%" data-field="name">Name</th>
        <th width="10%" colspan="2" data-field="edit"></th>
      </tr>
      </thead>
      <tbody>
      <% @job_statuses.each do |jb| %>
          <tr>
            <td><%= jb.id %></td>
            <td><%= jb.name %></td>
            <td><%= link_to image_tag("pencil.png", border: 0, width: 20, height: 20), edit_job_status_path(jb) %></td>
            <td><%= link_to image_tag("trash.png", border: 0, width: 20, height: 20), jb, :confirm => "Are you sure?", :method => :delete %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
