<!DOCTYPE html>
<html lang="en">
<head>
  <title>iEMS</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- jQuery library -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
  <!-- Latest compiled JavaScript -->
  <!--  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
</head>
<body>

<!--navigation-->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/adminviews"><%= image_tag("EMS-logo-landscape-white.png", size:"95x25" )%></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/adminviews">Approvals</a></li>
      <li><a href="/employees">EIM</a></li>
      <li><a href="/reports">Reports</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">Admin
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/company_info">Company Info</a></li>
          <li><a href="/business_units">Business Units</a></li>
          <li><a href="/job_titles">Manage Jobs</a></li>
          <li><a href="/special_days">Special Days</a></li>
          <li><a href="/reset_leaves">Reset Leave Credits</a></li>
          <li> <%= link_to "Logout", signout_path, id: "sign_out" %></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>

<!--body-->
<div style="margin-left:15%; margin-right:15%">
  <% flash.each do |key, value| %>
      <input type="hidden" id="alerts" value="<%= value %>">
  <% end %>
  <%= yield %>
</div>
<!--body-->


</body>

</html>

<script>
  $(function () {
    var alert = $("#alerts").val()
    swal(alert);
  });
</script>

<style type="text/css">
  body.stop-scrolling {height:auto !important; overflow:visible !important;}
</style>
