<!DOCTYPE html>
<html lang="en">
<head>
  <title>iEMS</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div align="center" style="padding:10%">
  <%= image_tag("EMS-logo.png", size: "200x200") %><br>
  <% if current_user %>
      Signed in as <strong><%= current_user.firstlastname %></strong>!
      <br>
      <%if current_user.role == "Manager"%>
          <br><%= link_to "Home Page", managerviews_path %>
      <%else%>
          <br><%= link_to "Home Page", userviews_path %>
      <%end%>
      <br>
      <br>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
      <%= link_to image_tag("googlebutton.png", border: 0), "/auth/google_oauth2", id: "sign_in" %>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

<div style="margin-left:15%; margin-right:15%; margin-top:15px">
<% flash.each do |key, value| %>
      <div class="alert alert-warning">
        <%= value %>
      </div>
<% end %>
</div>

  <% end %>

</div>

  <div>
  <%= yield %>
</div>

</body>
</html>