 <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>iEMS</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- jQuery library -->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Latest compiled JavaScript -->
  <!--  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
  </head>
<body>

<!--navigation-->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user.getrole == 'Manager' %>
          <a class="navbar-brand" href="/managerviews"> <%= image_tag("EMS-logo-landscape-white.png", size:"95x25" ) %></a>
      <%else%>
          <a class="navbar-brand" href="/userviews"> <%= image_tag("EMS-logo-landscape-white.png", size: "95x25") %></a>
      <%end%>


    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><a href="/userviews">Requests</a></li>
        <% if current_user.getrole == 'Manager' %><li><a href="/managerviews">Approvals</a></li><%end%>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">
                <%= current_user.firstlastname %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to  "My Profile", profile_path(current_user) %></li>
                  <% if current_user.getrole == 'Manager' %>
                      <li><%= link_to  "My Employees", view_subordinates_path(current_user) %></li>
                  <% end %>
                  <% if current_user.getis_admin == 'Y' %>
                      <li><a href="/adminviews" target="_blank">Admin View</a></li>
                  <% end %>
                  <li> <%= link_to "Logout", signout_path, id: "sign_out" %></li>
                </ul>
            <% end %>
            </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  @media (max-width: 767px) {
    .hideifsmall {
      display: none;
    }
  }
</style>


<!--body-->
<div style="margin-left:15%; margin-right:15%">
  
  <% flash.each do |key, value| %>
    <input type="hidden" id="alerts" value="<%= value %>">
  <% end %>

  <%= yield %>
</div>
<!--body-->


</body>

</html>


 <script>
   $(function () {
     var alert = $("#alerts").val()
     swal(alert);
   });
 </script>

 <style type="text/css">
   body.stop-scrolling {height:auto !important; overflow:visible !important;}
 </style>