<%= bootstrap_form_for @approver, :url => {:action => :create, :id => @employee.id} do |f| %>

    <% if @approver.errors.any? %>
        <div class="alert alert-danger">
          <strong>Error</strong>
          <ul><% @approver.errors.full_messages.each do |m|%>
                <li><%= m %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-sm-12"><h3>Add Approver</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%=f.collection_select :approver_id, Employee.where(role: 'Manager', status: 'A'), :id, :firstlastname %>
          </div>
        </div>
        <div style="text-align:right">
          <button type="submit" class="btn btn-success">Save</button>
          <a href="/employees/<%=@employee.id%>/edit"><button class="btn btn-danger">Cancel</button></a>
        </div>
      </div>
    </div>


<% end %>